[2021-02-16 09:41] avive opened #716 "Add clock sync check before local node startup"
On app startup, before starting a local node, compare local system time with time from a public time server.
If time is out of sync or can't reach a reliable time server then show the standard modal alert box with the following content:

Title: `Clock out of sync`
Body: `Your computer clock is out of sync with network time. Please synchronize using the data and time settings.`
[Quit]   [Retry]

-

[2021-02-16 12:14] noamnelke commented on #680
`go-spacemesh` emits the logs to `stdout`, it therefore cannot be responsible for rotation, as it's not the component that stores the logs in files in the first place.

[2021-02-16 12:44] avive commented on #680
so, I'm a smesher running go-sm and cliclient? Do I need to write my own log rotation logic?

[2021-02-16 14:35] lrettig opened #717 "Don't show spinning wait icon forever at startup"
When issues like the one described in #716 occur at startup, and the node crashes, the Spacemesh icon should not continue to spin forever. Smapp should detect that the underlying node died and present the user with an error message, ideally with a link to open or find the logfile with a single click. If a timeout is needed, it should probably be 30-60 secs.

[2021-02-16 15:43] avive commented on #717
@lrettig  - there's a whole new smapp startup flow which includes not using a local node so it makes little sense to patch the spinning startup screen now. Smapp will handle the case that node crashes on startup when it starts a local node in the new flow will not wait forever. I think this is described in the new startup flow for smapp 0.2.

[2021-02-16 16:09] noamnelke commented on #680
There are CLI tools that do it. If you're comfortable running the node in the terminal yourself, this is a legit requirement.

I'm not against writing a wrapper that will handle this for you and maybe also run the node in the background as a daemon, with keepalive etc., and allow you to shut it down by running some command, but it makes less sense to make it part of the node.

[2021-02-16 18:11] lrettig commented on #680
Agree. That's why I opened this issue in this repo in the first place.

[2021-03-09 12:15] lrettig opened #718 "Display version on main screen"
We get a lot of screengrabs from users reporting issues such as being unable to connect or sync. One major cause of these issues is when a user runs an older version of smapp. But we can't tell the version from these screengrabs. Could we please display the version of the app on the main screen at all times, eg, in light gray text at the bottom right corner?

[2021-03-15 15:31] avive opened #720 "Allow users to access smapp without opening a wallet"
# Motivation
- Allow user to skip opening a wallet on new app session (or after logging out from a wallet), so he can still view smeshing info, managed node info, and in some cases account related info in the wallet's screen without having to decrypt the encrypting wallet file data to memory by providing a wallet's password.

## Functionality Changes
Add a 'Skip' button to the open wallet screens.

[2021-03-17 08:49] avive opened #721 "Activations Display"
# Motivation
We need to display smesher activations to the user to make the somewhat complext smeshing flow from the time the user sets up post until he starts getting rewards for smeshing much more transparent to the user.

# Design Direction
- Add 'Activations' button to Smesher screen. Clicking on it should push an activations log screen.

## Activation log screen
- A sub-screen of Smesher scre

[2021-03-19 08:27] kvrvgixzis commented on #610
Cant run app om Ubuntu 18.04 with this problem/ Have fix? Download deb package from ofiicial site

[code]

[2021-03-20 21:20] kinrokinro opened #722 "Run smapp as a cli tool"
Thats will be extremly short, but i guess you will understand my suggestion:
$ smapp --create-wallet --password 'foobar' - it will return a wallet address (i.e. 0xdeadbeef)
$ smapp --start-smashing --wallet 0xdeadbeef - will running a node with coinbase receiver as 0xdeadbeef

[2021-04-11 21:42] lrettig opened #724 "Default port is wrong"
https://github.com/spacemeshos/smapp/blob/9e854387701f859e878e1ecea3b5d5538acee373/desktop/NodeManager.ts#L21

This should match the setting in go-spacemesh (7513):

https://github.com/spacemeshos/go-spacemesh/blob/972c550f045b48c95bb1590e4b3d8408155b375c/p2p/config/config.go#L20

Or, better yet, don't include any default, and somehow get it from the running node.

[2021-04-26 00:55] mrchenmo opened #726 "memory leak"
Today I opened the app and there was a memory leak, which took up 98% of the memory. How can I provide the log file

[2021-05-15 13:25] rogerlzp commented on #610
failed in ubuntu20 also
 ./spacemesh_app
(node:149549) DeprecationWarning: file property is deprecated and will be removed in v5.
Segmentation fault (core dumped)

[2021-05-18 08:01] avive opened #728 "Fix typo in 12 words backup screen"
Current: `A paper backup is a numbered list of words written down on a paper Write down or print this numbered word list and store the paper in a a safe place, or copy & paste it into your password manager`.

Add `.` after paper at end of sentence to get:

`A paper backup is a numbered list of words written down on a paper. Write down or print this numbered word list and store the paper in a a saf

[2021-05-20 14:47] avive commented on #162
We need an EV cert to sign Smapp installer. We need to do some research about EV certs and CI before purchasing from a vendor. Specifically, which vendor's EV cert supports CI? This is an issue because EV certs typically require a Ubikey device to store private keys.

- List of Microsoft endorsed EV certs vendors: https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a-code-signi

[2021-05-23 06:03] andreivcodes opened #729 "Build instructions"
Hello,

Can we please have build instructions on the main readme? yarn install / yarn package won't do it.

First of all, there seems to be a problem with webpack at

https://github.com/spacemeshos/smapp/blob/7724ff06adb8c5b39368224009354ceadbfaaeaa/configs/webpack.config.main.prod.babel.js#L23

I believe it should be `./desktop` instead of `../desktop`

Second, even if I fix that, I can't package

[2021-05-24 10:14] IlyaVi commented on #729
If you want to build from source you should use master branch with npm
Develop branch is WIP of application 2.0 and it's not usable or packable

[2021-05-24 10:14] #729 closed, assigned to nobody

[2021-06-09 16:11] avive opened #733 "Install go-spacemesh gpu-post libs"
# Motivation
Enable Smapp users to be able to setup var-post.

# Installer
- Installer need to install the various files to the go-spacemesh target directory. See list of files per platform here: https://github.com/spacemeshos/SMIPS/issues/48
- A release of go-spacemesh should include these files for each platform in the release artifacts.
- Update CI to include these files in the installer at bui

[2021-06-12 12:36] avive commented on #722
Smapp is designed to be a GUI app - not a terminal one. It is better to add these feature requests as an sm-repl issue https://github.com/spacemeshos/smrepl - the reference Spacemesh terminal wallet and api client. Can you please do that?

[2021-06-12 12:36] #722 closed

[2021-06-12 12:39] avive commented on #717
All node crashes should be reported in the network screen in smapp 0.2 as long as they are reported via the api and also after long timeout of api not being available when managed node was started. As the new api usage is a complete rewrite of how Smapp 0.2 handles node errors I'm going to close this issue.

[2021-06-12 12:39] #717 closed

[2021-06-21 13:08] avive opened #736 "macOS name in automated smapp releases"
Change mac release title in smapp releases from `Mac` to `macOS`.

[2021-06-22 13:09] #616 closed

[2021-06-22 14:30] IlyaVi opened #737 "Integrate Node Service"
- retrieve node status on query/stream
- error stream
- allow node restart on error without restarting the smapp

[2021-06-22 14:36] #737 closed, assigned to nobody

[2021-06-22 15:52] avive commented on #224
@IlyaVi - this issue is outdated and the smeshing screen smeshing features should supersede this. See figma 'Smeshers Screen + POS setup' page.

[2021-06-22 17:26] menzels commented on #535
I just want to add one datapoint here because i have the same right now.

1. Setup wallet start smeshing
2. after a day i got quite a few smeshing rewards and they are displayed nicely in the transaction log
3. i send coins the first time
4. now only the first smeshing reward is displayed in the transaction log
5. the main wallet balance does still include the smeshing reward.

[2021-06-23 03:51] avive commented on #718
I don't think this feature should be in this sprint as it is not part of the happy flow for the core uses cases. It is part of a bunch of useful features that improve the UX and the feedback process but I think that the focus of this sprint should be to get smeshing and basic wallet flows working with the new api.

[2021-06-23 03:53] avive commented on #422
This is a nice feature but not as important as the core basic use cases of smapp 0.2 - wallet, transactions, etc... I would only work on it once the happy path for the basic use cases are fully working.

[2021-06-23 03:54] avive commented on #224
The user can pause/unpause smeshing via the new pause smeshing button and he can stop / change post size via the modify smeshing button but all of these features are less important then the basic smeshing feature that should ideally be finished for this sprint - happy path for smeshing.

[2021-06-23 11:07] #224 closed

[2021-06-24 10:25] avive opened #738 "SMD -> Smidge"
Change Smidge coin symbol from `SMG` to `SDG` everywhere.

[2021-06-24 14:27] noamnelke commented on #738
Might I suggest NOT using `SDG` and using the word `Smidge` instead?

Any 3-letter symbol in capital letters, starting with S will get confused with `SMH`. Since smidges are never going to be traded on exchanges, I think that we shouldn't use a symbol for them at all.

[2021-06-24 14:32] avive commented on #738
this is the current community recommendation - please raise objections with community.

[2021-06-24 14:58] noamnelke commented on #738
I just talked to Alon about it and we'll keep discussing next week. I generally think that since smidges are not traded on exchanges they should not be represented with a 3-uppercase-letter symbol. In bitcoin there's `BTC` (some exchanges list it as `XBT` but that's a different story) and satoshis are either `sat.` (lowercase) or just `satoshi`. I've never seen `SAT` or `STS` used anywhere.

Note

[2021-06-28 14:53] avive commented on #626
This issue is outdated. I'm going to close it and open another one about handling node errors in smapp 0.2

[2021-06-28 14:53] #626 closed

[2021-06-28 14:58] avive opened #739 "Node and API Error Handling"
Node errors should include:
1. Errors reported by the node api.
1. A non-responsive node api - smapp can't get response from api calls to node after few attempts.
1. Node process panicked.

All of these kind of node errors must be displayed in this screen. For non-responsive ai and node panic, always give the user the option to restart the node. For node errors, only enable restart button if error

[2021-06-30 06:06] avive opened #740 "Release 0.2 Design Review (WIP)"
## Core
- [x] Support opening existing wallet.

## General / All Screens
- [x] All explorer buttons should open explorer in web browser app when clicked. e.g. explorer button next to account name in wallet screen.
- [x] Missing this visual item from the top-right-side of some screens. It appears in the wallet screen:

<img width="103" alt="Screen Shot 2021-06-30 at 9 12 52 AM" src="https://user-im

[2021-06-30 12:27] #536 closed

[2021-06-30 12:30] IlyaVi commented on #724
closing as outdated - no hardcoded tcp port in smapp

[2021-06-30 12:30] #724 closed, assigned to nobody

[2021-06-30 12:35] IlyaVi opened #741 "Fix opening wallet files"
Perviously created wallet files can't be open in smapp - degradation caused by new api integration

[2021-07-01 08:45] avive commented on #726
@yaelmhoffman can provide info. Sorry about the late response.

[2021-07-01 08:46] avive commented on #162
We have an EV cert from ssl.com - so the task now is to integrate their signing api into Smapp releases CI.

[2021-07-04 12:01] IlyaVi commented on #726
not related to the app, fixed in go-sm

[2021-07-04 12:01] #726 closed, assigned to nobody

[2021-07-04 14:07] avive commented on #739
We need to remember to handle 2 types of critical node errors as currently implemented in the node:
1. Errors reported via the errors streams (which might include errors that panic the node after being reported).
2. Node panics which are not reported in the errors stream.

Both cases should be handled in the same way as described in this issue.

[2021-07-05 05:00] avive commented on #569
@IlyaVi - Can we close this issue? We have this: #561

[2021-07-05 10:34] IlyaVi commented on #569
561 is epic, but this is ok to close this

[2021-07-05 10:34] #569 closed

[2021-07-05 16:48] brusherru commented on #718
@lrettig @IlyaVi @avive

As for me, I'd like a solution in the corner of any screen, because it is easier for the User to find out and copy the version of the app for the bug report.  Moreover, if we'd add an auto-update feature it will be a great place to add the button that runs update or notification that the version is outdated. It will be always visible to the User.
So, how to implement it? I

[2021-07-05 17:19] avive commented on #718
Honestly, I never liked this feature too much because its makes the main UI more heavy than it should be with info that is not relevant to the user 90% of the time.

It is a bit of a hack because we don't have proper error reporting from the app yet which should include an option fo to share a screen shot.

I think the least evil ui-wise is to display it bottom-left corner of each screen, so it is

[2021-07-05 18:14] #741 closed, assigned to IlyaVi

[2021-07-06 10:24] avive commented on #740
@IlyaVi - added minor ui tweaks as I review the latest smapp in develop.

[2021-07-06 14:35] avive commented on #610
Are we satisfied with the Ubuntu 18.04 build in CI now and can close this issue or do we want to modify the CI to add more package types? @IlyaVi @lrettig

[2021-07-06 14:39] avive commented on #552
Is there any actionable task that should be drafted to resolve this issue in the code base? I'd like to close this issue if there is none. We currently provide Ubuntu 18.04 and 20.04 deb packages which I think should be satisfactory. It is hard for a small team to provide packaging support for a larger number of linux configurations.

[2021-07-06 14:54] IlyaVi commented on #610
I think you can close this

[2021-07-06 14:57] IlyaVi commented on #552
Most of linux users are satisfied with the builds we provide so I'm closing this

[2021-07-06 14:57] #552 closed

[2021-07-06 15:01] #610 closed

[2021-07-06 17:41] #422 closed

[2021-07-06 23:50] lrettig commented on #718
The nice thing about its being on the main screen is that, when users send
us screenshots/screengrabs of issues, we would always know which version
they're running. I think it's okay to always display the version on the
main screen while we're in testnet/testing/pre-genesis phase. Later it
could be moved to, e.g., the top of the Settings screen.

[2021-07-06 23:51] lrettig commented on #552
I've been using the 20.04 deb packages for the past few releases with no
problems on debian or ubuntu

[2021-07-07 08:25] #718 closed

[2021-07-07 08:30] avive commented on #741
verified

[2021-07-07 08:41] avive commented on #718
FYI, with the current implementation, the version text is cramped (no proper padding around text) with the main screen content when the window is in min size. We will deal with it as part of global layout and sizes fixes which is a broader issue.

![Screen Shot 2021-07-07 at 11 40 46 AM](https://user-images.githubusercontent.com/96002/124728401-3cf79600-df18-11eb-80df-701ad25201b5.png)

[2021-07-07 08:44] avive commented on #718
Version string is not displayed in some cases in the dash screen. To repro, try to resize the main window in the dash screen.
I don't think this issue is worth opening as the solution is likely good enough for bug reporting regarding all other screens but maybe we'll open this issue again in the future for further polish.

![Screen Shot 2021-07-07 at 11 43 50 AM](https://user-images.githubusercont

[2021-07-07 08:46] avive commented on #639
Sync status wasn't removed.

[2021-07-07 14:25] IlyaVi opened #748 "Test api integration with real data"
- [x] get balance
- [x] get rewards
- [x] get tx from mesh
- [x] send tx

[2021-07-07 14:48] #639 closed

[2021-07-09 10:05] avive opened #751 "Update release artifacts listing in releases"
- Change label `Mac` to `macOS`.
- Order mac after Windows release at the top and above linux distros. Rational is order by OS popularity with home users.

I do these manually for recent release and this should be updated in automation.

[2021-07-11 10:10] avive commented on #635
Any reg entry called `spacemesh`. If you delete your installation folder the installer will get hosed. Another thing to try in the installer that worked for me is to install in a new path and not the default one.

[2021-07-11 10:15] IlyaVi commented on #671
new tx logic saves txs by their ids so no duplicate txs will appear in ui

[2021-07-11 10:16] #671 closed

[2021-07-12 16:22] avive opened #753 "Error Screen on startup"
Repro: Run smapp from develop branch (start with an empty electron folder and create new wallet or open existing wallet). Try to view the wallet screen.
Result: the error screen below
Expected: show main ui and no errors

![Screen Shot 2021-07-12 at 7 21 29 PM](https://user-images.githubusercontent.com/96002/125322376-65332a80-e346-11eb-8fff-8aaeba6275db.png)

[2021-07-12 17:39] #753 closed, assigned to IlyaVi

[2021-07-13 07:11] avive opened #756 "Dev mode net config"
I think it will be useful if smapp can be started in dev mode with an url of a config file for a network that doesn't come from the discovery service so we can keep testing it while the open testnet is having issues by easily switching over to a devnet. The original design was that all long-running networks will be provided via the discovery service and smapp user being able to chose from one of t

[2021-07-13 07:21] avive opened #757 "Explorer account display - wrong page is opened"
Repro: Click on the explorer icon next to an account in the wallet screen.
Result: empty not-found page is displayed: https://explorer-34.spacemesh.io/not-found
Expected: this account not found page: https://explorer-34.spacemesh.io/not-found/0x611936277ABf0Bce425e8B03d102BaFa9F10b1AC

<img width="1266" alt="Screen Shot 2021-07-13 at 10 22 18 AM" src="https://user-images.githubusercontent.com/9600

[2021-07-13 07:36] avive opened #759 "Error trying to view all transactions"
Repro: click `all transactions` in wallet screen.
Result:

![Screen Shot 2021-07-13 at 10 35 34 AM](https://user-images.githubusercontent.com/96002/125411060-3bb9e380-e3c6-11eb-9d6c-68cc09bfa2f9.png)

Expected: no error. Display the transactions log screen.

[2021-07-13 07:41] avive opened #760 "Browse log file url"
Repro: click 'browse log file' in network screen.
Result: wallet file is selected inexplorer / finder.
Expected: app log file to be selected in explorer / finder

[2021-07-13 07:52] avive commented on #739
Updated issue description to consider 3 types of node errors that we need to deal with.

[2021-07-13 10:00] avive commented on #739
In terms of all smapp issues for the July 5th sprint - this is one of the most important ones in terms of impact on the user experience. Should be high-priority.

[2021-07-13 15:51] #760 closed, assigned to brusherru

[2021-07-13 15:51] #757 closed, assigned to brusherru

[2021-07-13 15:51] #759 closed, assigned to IlyaVi

[2021-07-15 17:32] brusherru commented on #739
@avive should we notify the User about non-critical errors (level less than `dpanic = 5`)?

[2021-07-15 19:06] avive commented on #739
I don't think so. If a node error is not critical then it means that basically the node keeps functioning and doesn't need user restarted. We should log these in the app log.

I hope that you are seeing a descriptive short error description for critical node errors to display in the network screen. If not, please let me know so we can file node issues for these.

[2021-07-19 08:39] #748 closed, assigned to IlyaVi

[2021-07-19 10:15] brusherru opened #765 "Inconsistent SYNCED status"
Here are the screenshot explaining the issue:
![image](https://user-images.githubusercontent.com/1897530/126143991-e76c4557-98da-48fa-8cad-8abaa891ea6f.png)

- A yellow bulb next to the "NETWORK" link on the top are still yellow
- Meanwhile, the network screen says that status is synced (bulb are green)
- But verified and synced layers are not equal to the top layer and to each other

I'm expectin

[2021-07-19 10:25] avive commented on #765
I'm not sure about the code itself but definitions-wise, both traffic-lights/bulbs should aways be the same color. The idea of the bulb on the top is to let the user know about sync status without accessing the network screen.  The status should be orange if the node api  returns `synced:false`, green if returns true and red if the there was a critical node error that requires user to restart the

[2021-07-19 10:49] brusherru commented on #765
Yep. So we should show the green bulb and "SYNCED" message in the Network screen only if the Node sends the status with the `isSynced: true`. It's a quick fix.
However, I'm still waiting to get a fully synced state and it seems like the top layer updates, but `syncedLayer` and `verifiedLayers` keep the same. Just want to ensure that this may happen at all :)

[2021-07-19 10:57] avive commented on #765
In the current testnet, the node keeps going in and out of sync so it is actually a good api server to test this feature with :-)
If you keep getting issues from the public testnet you should consider moving to the devnet. Did you add the feature to use a custom config file to smapp? It enables this kind of configuration...

[2021-07-19 10:58] avive commented on #765
Also making sure that smapp subscribes on NodeService:: StatusStream() and doesn't only require polling after calling Status() once in a new app session.

[2021-07-19 13:06] #581 closed

[2021-07-19 13:08] IlyaVi opened #766 "Implement transactions related api usage pattern"
[full description](https://github.com/spacemeshos/product/blob/master/api_usage_patterns.md)

TODOs:

- [x] Implement storing TXs in App's persistent store
- [ ] Read stored TXs, request statuses, and open status streams for each on startup
- [ ] GUI: Ensure all these things are displayed on Wallet screen and Transactions log

[2021-07-19 14:20] #765 closed, assigned to brusherru

[2021-07-20 09:49] #663 closed

[2021-07-20 09:55] avive commented on #740
Removed this epic from sprints milestones. Individual issues for work in sprints should be created from it.

[2021-07-20 10:08] avive commented on #720
Handled by wallet only mode feature of Smapp 0.2.

[2021-07-20 10:08] #720 closed

[2021-07-20 10:10] avive commented on #716
Addressed in 0.2 by properly handling node panics on startup. Might still be a nice 0.3 enhancement.

[2021-07-20 10:19] avive commented on #535
@IlyaVi - in both views - smesher screen and wallet, rewards should be displayed sorted by timestamp descending so the most recent ones are displayed first.

[2021-07-20 11:38] #739 closed, assigned to brusherru

[2021-07-21 08:20] avive opened #768 "Update Shutdown Modal"
Mock:

![shutdown_screen](https://user-images.githubusercontent.com/96002/126455925-8d146423-ac45-4a67-8ce8-5b920630fad2.png)

In figma: https://www.figma.com/file/6bbFkIAzVu36bIpUNnMqoy/Smapp-Designs?node-id=7427%3A2

[2021-07-21 08:24] avive opened #769 "Change default skin"
From lite to dark. Dev builds start in dark-mode. Please close this issue if release builds work in the same way - I wasn't 100% sure about this.

[2021-07-21 08:39] avive opened #770 "Genesis Time Display"
1. Remove the genesis time field from the settings - this data is now in the network screen.
2. In network screen, change the genesis time format from `6 Days Ago` to the following: `6 Days Ago (Jul 15 2021, 01:45:43 PM EST)`. Where the date-time is in the user's local timezone.

[2021-07-21 08:42] avive opened #771 "Display node info in settings screen"
Display Node Build and Version data items in settings.

![Screen Shot 2021-07-21 at 11 41 42 AM](https://user-images.githubusercontent.com/96002/126459113-90da43e5-f24b-4c03-b71e-b7dfe7b9ca3d.png)

[2021-07-21 08:46] avive opened #772 "Content overflow display area in Transaction Log screen"
1. Set app window to min size.
2. Click `all transaction` in wallet screen.

Result: content overflows the display area:
![overflow](https://user-images.githubusercontent.com/96002/126459591-4babcebb-7bbe-4267-9567-b13d2c375f61.png)

Expected: resize content area background so content doesn't overflow.

[2021-07-21 08:51] avive opened #773 "Current screen indicator in main nav bar"
Repro:
1. Navigate to the wallet screen - notice wallet command in top nav bar is selected.
2. click on `all transactions`.
Result: Top nav bar wallet command is deselected.
Expected: Wallet command to keep being selected as the transaction log is in the wallet.
3. Go back to wallet screen.
Result: wallet command is not selected in nav bar.
Expected: wallet command to remain selected.

[2021-07-21 09:36] avive opened #774 "Network Screen Layout Issue"
Network screen content overflows the display area in case of an error:

![Screen Shot 2021-07-21 at 11 59 00 AM](https://user-images.githubusercontent.com/96002/126461784-f39ff1d3-f3fa-4807-9a37-17eed57a5356.png)

[2021-07-21 09:42] avive opened #775 "Test smapp error handling by crashing managed node on startup via a bad config file"
Config:
- Smapp develop build
- Node version https://github.com/spacemeshos/go-spacemesh/releases/tag/v0.1.45

1. Delete all local node data and Electron folder.
2. Start a dev build.
3. Sync mesh and quit once synced.
4. Restart the app.

Result: Node crashes on startup trying to create a folder in path `/` and somehow tries to create post with data folder `/root/data/post`. Node log file:

`2021

[2021-07-21 09:48] avive opened #776 "Log node startup config"
Print the manage node startup flags to the app log file to assist in debugging node issues.

[2021-07-21 10:07] avive opened #777 "Inconsistent balance amount display while syncing"
Repro:
1. Start the app in dev mode w/o any local data
2. Go to wallet screen: balance label is `Syncing...` - good.
3. Restart the app
4. Go to wallet screen

Result: `0 SMH` balance is displayed
Expected: Display `Syncing...` like in the first session. Only display an actual balance amount when node is synced and such a balance was retrieved from the api in this app session.

[2021-07-21 10:14] avive opened #778 "Missing visual element"
This visual element is missing from network screen. It appears on top-right of main content in wallet and smesher screens.

![image](https://user-images.githubusercontent.com/96002/126472734-8e1d4356-2ffe-4374-b415-39ebbf71b180.png)

[2021-07-21 10:16] avive opened #779 "Input Focus for Screens with text boxes"
All screens which include a text input box, such as enter new password or enter wallet password should set the text input focus to the first text box on the screen, so user doesn't have to click on it in order to enter text.

Some screens have this feature, some don't.  For example, set wallet password doesn't but login with password does.
Another example - send transaction screen - input focus sh

[2021-07-21 10:20] avive opened #780 "Inconsistent visual element in wallet screen"
1. Set app window to min display size.
2. Navigate to smeshing or network screen and observe the right-side vertical visual element:

![Screen Shot 2021-07-21 at 1 19 16 PM](https://user-images.githubusercontent.com/96002/126473522-a220c0ea-92de-4d8e-817f-9f81bc294d70.png)

3. Click on wallet to access the wallet screen.

Result:

![Screen Shot 2021-07-21 at 1 19 54 PM](https://user-images.githubu

[2021-07-21 10:21] avive commented on #740
This epic is open for reference but all open issues have their own task issues.

[2021-07-22 12:39] #728 closed, assigned to brusherru

[2021-07-23 09:21] avive commented on #775
This was caused by a bad config file with `start-mining` set to true but it is a good issue to test Smapp handling of node panic on startup!

[2021-07-23 09:21] avive commented on #775
So this specific issue can be closed once we have verified that Smapp 0.2 correctly handles node panics on startup...

[2021-07-25 08:37] avive opened #784 "Improve waiting for api provider user experience"
# Motivation
Improve the user experience when smapp is trying to connect to node api (local node or remote api provider).

# Changes

Add a message below the spinning wait animation:
- When working with local node api provider: `Please wait, starting up Spacemesh node...`
- When working with remote api provider: `Please wait, connecting to Spacemesh api...`.

Current screen:

![Screen Shot 2021-07

[2021-07-29 10:17] avive commented on #561
@IlyaVi I think that this can be implemented in smapp even though the current devnet is stuck. You may get an error from the node in the last step until there's a new devnet but I don't think it is a reason not to try to finish the happy flow until that step.

[2021-07-29 10:20] avive commented on #733
Here's some reference code that @sudachen wrote in the post repo that can be used as reference for Smapp ci to obtain the artifacts per platform from a gpu-post github release. https://github.com/spacemeshos/post/blob/develop/Makefile.Inc

[2021-07-29 11:41] avive opened #785 "Don't block startup on provider api availability"
Smapp should not block on starutp with the loading modal screen until the api is available from the current api provider (local node or remote api).

It should load using cached data for the unlocked wallet and display any locally cached data it has while it attempts to check api health in the background.

The app should periodically check for api health in the background and if api is not availab

[2021-07-29 13:14] avive commented on #785
This is for long-term smapp 0.3 discussion notes and not for 0.2 - should be be built until proper discussion in smapp team.

[2021-07-29 17:58] IlyaVi commented on #756
Add DEV_NET_URL entry to .env file to work against devnet

[2021-07-29 18:10] #756 closed, assigned to IlyaVi

[2021-07-29 18:10] #535 closed

[2021-08-02 13:03] #777 closed, assigned to brusherru

[2021-08-02 13:08] #778 closed, assigned to brusherru

[2021-08-02 13:08] #774 closed, assigned to brusherru

[2021-08-02 13:08] #780 closed, assigned to brusherru

[2021-08-02 13:13] #776 closed, assigned to brusherru

[2021-08-02 13:15] #775 closed, assigned to brusherru

[2021-08-04 13:13] avive commented on #738
We want to change the `SMD` symbol to `Smidge` and don't use other symbols besides Smidges and SMH.

[2021-08-04 13:20] avive commented on #740
Closing this - all but one issue has been fixed and there's another issue for the remaining open one.

[2021-08-04 13:20] #740 closed, assigned to avive

[2021-08-04 13:25] avive commented on #658
I'd like to emphasize that this is p2 because it is a nice have feature for the release 0.2 not a critical one compared with the managed now basic features that must work before we can release the first smapp 0.2. We can add this feature to upcoming 0.2 releases.

[2021-08-04 13:28] avive commented on #736
Closing due to #751

[2021-08-04 13:28] #736 closed, assigned to nobody

[2021-08-04 16:34] brusherru commented on #162
After the research I have such a plan:
1. First job (matrix): Build and pack binaries for all platforms. Store them in the GHA artifacts.
2. Second job (depends on first):
   - download CodeSignTool from ssl.com (win: https://www.ssl.com/download/29773/ or linux/macos: https://www.ssl.com/download/29764/ ). It requires Java 11, but all vEnv images contain it, so we don't have to install it manuall

[2021-08-05 07:04] avive commented on #162
Generally sounds like a decent plan.
Two questions:
1. Regarding first job - do you mean use existing build flow or a new one? I think we should not change the current way installers are built for now.
2. Did you look into how we sign for macOS? It might be worth to have a look since we do something similar in CI for this platform. e.g. using cloud signing.

[2021-08-05 07:27] brusherru commented on #162
@avive

The existing one, but it seems broken. So I just need to fix it a bit (copy some changes from PR-build workflow).

Yep, and we did it within the package script using `electron-notarize`. But yesterday an idea came to me, to put this part of the code in a separate script. And sign the build for macOS at the same stage as the windows installer. It makes us possible to get rid of `DONT_SIGN_A

[2021-08-05 07:30] avive commented on #162
sounds good to me.

[2021-08-05 21:55] brusherru commented on #162
@avive, what program name we should provide?

It will be visible here (when run installer and choose option "for all users"):
![image](https://user-images.githubusercontent.com/1897530/128427550-53db4e0d-bcd9-4b30-99f9-546cab5e6f48.png)

It defaults to the `description` field from `package.json` (currently "Spacemesh reference full p2p node, smesher and wallet"), so we can change it here (I'd pref

[2021-08-06 09:34] avive commented on #162
It should be `Spacemesh App`

[2021-08-09 13:13] #162 closed

[2021-08-09 13:13] #751 closed, assigned to brusherru

[2021-08-10 11:11] avive opened #791 "Improve node is down error message"
1. Start Smapp with a managed node.
2. Kill node process via OS.
3. Navigate to the network screen.

Result:

Error message is `CONNECTION DROPPED`.

Expected:

A more descriptive sentence. e.g. `Can't connect to the managed node`.

Generally speaking, user-facing error messages should be complete and descriptive english sentences.

[2021-08-10 11:35] avive opened #793 "Transaction Logs subtitle"
Remove the subtitle `Latest Transactions` from the transaction log screen. It is misleading as all transactions are displayed in it and we get a bit more space for the content (transactions) which is a good thing.

[2021-08-10 11:37] avive opened #794 "Transaction Log Screen Content Overflow"
1. Minimize Smapp window size
1. Open transactions from wallet.

Result: activity view content overflows its area.
Expected: no overflow.

Possible fix: reduce the huge spacing between rows in this view so we don't need to adjust the min main windows size to fix this.

![Screen Shot 2021-08-10 at 2 37 25 PM](https://user-images.githubusercontent.com/96002/128860405-d76b98ce-d0ad-445c-96d4-c7d83eb9

[2021-08-11 00:42] vomcent commented on #784
Figma links for each screen:
[Spacemesh Node](https://www.figma.com/file/6bbFkIAzVu36bIpUNnMqoy/Smapp-Designs?node-id=8758%3A37161)
[Spacemesh API](https://www.figma.com/file/6bbFkIAzVu36bIpUNnMqoy/Smapp-Designs?node-id=8758%3A37368)

[2021-08-11 07:10] avive commented on #768
We have enough time to implement in for 0.2 while we wait for a functional 0.2 devnet to finish the other 0.2 tasks.

[2021-08-16 11:29] #399 closed

[2021-08-16 11:37] brusherru commented on #773
I've already caught the same one when opens SMESHER -> SETUP (screen where you can choose a folder) and then click on "SKIP" button.
It is one of the problems with `react-router`.
Will try to handle it or force to switch to `react-redux-router` or something similar.

[2021-08-16 12:22] avive commented on #773
`react-router := the root of all evil 🤣`

[2021-08-16 13:16] brusherru opened #799 "Codebase Impovement Proposals"
Right now, we have many small issues within our codebase, which makes the code less maintainable and robust.
This issue contains a quick overview of problems and proposals related to some topics with a short description.

Feel free to participate in discussions and make your proposals.
In the end, we should create small issues based on this one.

Topics:

1. [Redux as a single source of truth](#p1

[2021-08-16 22:51] brusherru commented on #794
Duplicate of https://github.com/spacemeshos/smapp/issues/772

[2021-08-16 22:51] #794 closed, assigned to brusherru

[2021-08-16 22:54] brusherru commented on #738
@avive what about "GSMD" and "MSMD"?

[2021-08-16 22:59] brusherru commented on #771
@avive looks like this are not actual.
I've already touched some parts of code related to it: https://github.com/spacemeshos/smapp/pull/764/files#diff-0e9c78b6209a81be37df60ca8f7b90f25717ad80685e4de9c5f5337a64758205R172
And it seems like it works right now. Please, check it out (on the develop branch) and if this one is still actual, provide the Node version.

[2021-08-17 07:59] avive commented on #771
Checking on dev now.

[2021-08-17 08:06] avive commented on #771
Looks like it is working okay in develop branch.

[2021-08-17 08:06] #771 closed, assigned to brusherru

[2021-08-17 11:43] avive commented on #738
We want to get rid of these and only use Smidge or SMH - they were mostly confusing users. We need to make sure that there's enough space for legible large amounts of smidge and do smart formatting for displayed amounts according to this rule: `if an amount is at least 0.0001 SMH then display it in SMH units, otherwise in Smidge`. We also want to have a hover popup over amounts displayed in Smesh

[2021-08-17 11:44] avive commented on #738
We also need to sort amount amount inputs but I'm not sure we'll manage to do this for 0.2. Ideally, every text box that accepts an amount has on its right a unit name (Smidge or SMH) and a drop down that allows the user to change between these units, so users will always be able to easily enter an amount with Smidge or with SMH. The default should be SMH units but for testnet timeframe it is like

[2021-08-17 11:47] avive commented on #738
Technically, this issue is for the v0.3 milestone and not for v0.2 but it will be great to have it in v0.2 if all other v0.2 known issues are fixed.

[2021-08-17 12:02] avive commented on #738
Regarding amounts input. Something like this:

![Screen Shot 2021-08-17 at 3 01 16 PM](https://user-images.githubusercontent.com/96002/129722140-018fdd6c-b197-4c55-a1fd-5100f6bc6478.png)

[2021-08-18 23:49] brusherru commented on #791
We've discussed the error message for such cases should be:
"The Spacemesh node software has unexpectedly quit. Click on 'restart node' to start it."
Is it still actual?

[2021-08-19 12:10] noamnelke commented on #738
Worth noting that if smidges are entered, a decimal point should not be allowed (but it should be allowed for SMH).

[2021-08-19 13:45] avive opened #802 "macOS small app icon is missing"
This has been with us for a while.
Add missing small icon in macOS builds.

![Screen Shot 2021-08-19 at 4 44 00 PM](https://user-images.githubusercontent.com/96002/130079442-0044e5b1-6278-46d8-8e97-7e09f218b687.png)

[2021-08-19 13:52] #772 closed, assigned to brusherru

[2021-08-19 13:59] avive commented on #674
I think that the consensus right now is that config file should include list of NTP servers to use by node. When this is implemented in node, we should add a way to add/edit/remove ntp server from the config via smapp and when user has done so, the ntp servers are going to be provided to the node via startup flag by smapp to override the ones from the config file.

[2021-08-20 10:16] #768 closed, assigned to brusherru

[2021-08-20 10:17] brusherru commented on #773
Closed by #800

[2021-08-20 10:17] #773 closed, assigned to brusherru

[2021-08-20 10:17] brusherru commented on #779
Closed by #800

[2021-08-20 10:17] #779 closed, assigned to brusherru

[2021-08-20 10:17] brusherru commented on #791
Closed by #800

[2021-08-20 10:17] #791 closed, assigned to brusherru

[2021-08-20 10:18] brusherru commented on #793
Closed by #800

[2021-08-20 10:18] #793 closed, assigned to brusherru

[2021-08-20 10:54] brusherru commented on #738
I have an idea how to improve the UX of the amounts input.

Since we got only two units it looks like DropDown is overkill with the worst UX (User interaction: aim on dropdown, click, aim on option, click). So I have an idea to replace it with just a button (User interaction: aim on button, click).

At the first glance, it might be confusing (when you click on it -> what you will get?) or it needs

[2021-08-20 11:01] avive commented on #738
I think it is a good idea although a drop-down with 2 options is not that bad. We can have a rotate icon next to the unit name and clock on it just rotates between the 2 possible values. Otherwise users won't understand this is a button. So basically your refresh idea but it is a rotate...

Something like this on the right-side of the unit label:

![image](https://user-images.githubusercontent.com

[2021-08-20 11:37] brusherru commented on #738
A small demo (without icon yet):
![output](https://user-images.githubusercontent.com/1897530/130227811-a95876f5-df4b-48b4-a902-460ed18db54b.gif)
The bottom input is a previous one and it will be removed.

[2021-08-20 11:40] lrettig commented on #738
I think we're all in agreement here at this point but just to reiterate: please, please do not use the symbols "SMD" or "SDG" anywhere. I agree that "smidge" does not need a ticker symbol and it's much clearer without one.

[2021-08-20 11:52] brusherru commented on #738
By the way, do we need to use some library to work with more precision on big numbers (BigInt / BigFloat / etc)?

E.G.:
- 1 SMH -> 1000000000000 Smidge (ok)
- 1000000000001 Smidge -> 1.000000000001 SMH (ok)
- 1.000000000001 SMH -> 1000000000002 Smidge (!!! lost precision !!!)
- 1234567.000000000001 SMH -> 1234567000000000000 Smidge (!!! lost precision !!!)
- 9999999999.990002 SMH -> 9.99999999999e

[2021-08-20 12:51] avive commented on #738
I think you can use the built-in BigInt type https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt - there used to be several libs from the eth world but now this seems to have moved into the core javascript language inspired by crypto which is great.

[2021-08-20 12:54] avive commented on #738
As stated above, we are only going to have 2 supported units in smapp: Smidge and SMH and support input of amount in both and smart display of amounts based on amount size.

[2021-08-22 07:04] noamnelke commented on #738
I like the idea of getting rid of the dropdown, but I think that @brusherru's suggestion can be improved.

Since we're on desktop and not very limited in space, why not display both options, and also make it clearer that they're clickable buttons?

Something along these lines:
![image](https://user-images.githubusercontent.com/776358/130345793-53f2d70c-a420-4f8a-bf52-62ecfdac48e0.png)

The design

[2021-08-22 07:07] avive commented on #738
@vomcent - please provide visual design and add it to the ui kit / figma. thanks!

[2021-08-23 13:23] avive commented on #738
i think we can go ahead with the toggle and apply final design once we get it from vince.

[2021-08-23 19:48] vomcent commented on #738
![Arrow Toggle Black](https://user-images.githubusercontent.com/49878947/130509980-dcf0c762-dc62-41bd-8d2f-287cf8a69a3d.png)
![Arrow Toggle White](https://user-images.githubusercontent.com/49878947/130509982-e760bb37-cc97-47da-82db-49712814ac97.png)

White and Black designs attached. I scaled these based on the existing UI kits but let me know if you need a specific size change or something like t

[2021-08-24 11:07] brusherru commented on #802
@avive
The icon set is generated from `icon.png`, so actually, it has all sizes.
I can't reproduce the icon corruption on my machine.

Can you provide more information:
- MacOS version
- Smapp version

It will be handy if you also can attach the generated icons file, which can be found here: `/Applications/Spacemesh.app/Contents/Resources/Spacemesh.icns`

[2021-08-24 12:53] avive commented on #802
[Spacemesh.icns.zip](https://github.com/spacemeshos/smapp/files/7039248/Spacemesh.icns.zip) - it looks fine.
My macOS is 11.5.1 but this has been an issue at least in last 2 macOS releases.

[2021-08-24 13:19] brusherru commented on #738
Is it good enough? 🤔
![amount-demo](https://user-images.githubusercontent.com/1897530/130623456-264a2911-5711-4ce9-9f81-9dc28b6dac47.gif)

[2021-08-24 14:34] avive commented on #738
@vomcent we'd like to use a simple toggle and not a button - can you please provide design for it?

[2021-08-25 00:48] brusherru commented on #738
Also, pay attention, that we actually have limited space.
The layout has a fixed size, so the input width is always the same, as in the picture above.
So If we just place two buttons one next to another we can't see the full amount even it will be `0.005 SMH` in Smidge units... 🤔

[2021-08-25 04:46] avive commented on #738
This is one of the reasons I originally proposed a drop-down - fixed sized layout considerations...

[2021-08-25 05:42] #802 closed, assigned to brusherru

[2021-08-25 09:27] avive commented on #582
There are 2 open issues to finish this epic: gpu-post integration and transactions integration.

[2021-08-26 04:19] #784 closed, assigned to brusherru

[2021-08-27 09:36] #738 closed, assigned to brusherru

[2021-08-31 00:07] brusherru opened #806 "Save selected theme between App sessions"
At the moment we have two themes in the App: light and dark theme. But there will be the third one in the nearest future.

On the App start, it uses `electron.nativeTheme.shouldUseDarkColors` to determine which theme to use. Then the User can switch the theme on the Settings screen. However, selecting another theme is not saved in the persistent store. So on the next App start, the User gets the d

[2021-08-31 00:18] brusherru commented on #681
Oh. I think that this one is closed by #805.
However, we can keep it open until @vomcent will provide us a new design for it and then we'll implement it.

And there will be another issue with big numbers, but we are waiting for the implemented solution of https://github.com/spacemeshos/go-spacemesh/issues/2718 including the new proto interface.

[2021-08-31 00:30] brusherru commented on #393
If I understood right, this issue is outdated since we have already done with https://github.com/spacemeshos/smapp/issues/738.
If not, please reopen it ;)

[2021-08-31 00:30] #393 closed

[2021-10-06 21:47] brusherru opened #812 "Get rid of blinking on Node screen while progress updates"
### Environment
* Smapp version: https://github.com/spacemeshos/smapp/tree/post-gpu-setup

### Describe the bug
When Smapp creates PoS data and notifies GUI about its' progress, the whole Node screen blinks.

### Steps to reproduce
1.  Run Smapp (with working gpu-post)
2.  Start Smeshing with a big enough PoS data size to have time to check it out (E.G. >=4MB)
3.  See on Node screen

### Expected

[2021-10-06 22:10] brusherru opened #813 "Store Smesher log on fs"
### Rationale
The smesher log should show relevant log messages, such as:
- start time
- pause/resume events
- rewards
- errors

Most of these events can't be retrieved from the Node by the current GRPC API and maybe never will be.
Smapp should create the log on his own and keep it actual.
In case post data deletion or changing Smesher ID the log should be dropped.
In other cases, it should be upd

[2021-10-07 05:12] avive commented on #813
Low-priority feature which is a left-over from an old design.

[2021-10-09 06:13] avive opened #814 "Storage units displayed twice"
Expected: `442.56 GB`.
Behavior: `442.56 GB GB`

![Screen Shot 2021-10-09 at 9 13 09 AM](https://user-images.githubusercontent.com/96002/136646489-9283756f-27d2-4bcc-a3c0-f02592b6625a.png)

[2021-10-09 06:19] avive opened #815 "Error setting up post"
### Environment

* Smapp version: dev build from https://github.com/spacemeshos/smapp/pull/810#issuecomment-939204083
* OS: macOS 11.6 / M1

### Describe the bug
Error setting up post.

### Steps to reproduce

1. Fresh install (no local data), proceed to setup post.
2. Select post directory and click `next`

### Expected behavior
Be able to resume post setup.

### Actual behavior

![Screen Shot 20

[2021-10-09 06:52] avive opened #816 "Managed node won't sync - 0 results to bootstrap requests"
### Environment

* Smapp version: macOS dev build from https://github.com/spacemeshos/smapp/pull/810#issuecomment-939204083
* OS: macOS 11.6

### Describe the bug
Node can't sync.

### Steps to reproduce
1. Fresh install.
2. Setup wallet and go to network screen.

### Expected behavior
Backing node to sync on 207 devnet.

### Actual behavior
Node can't sync. Looks like bootstrap is not giving any

[2021-10-09 07:17] avive commented on #814
This is also an issue in the `proof of space size` screen.

[2021-10-09 07:23] avive opened #817 "Minor Post Related UI Display Issues"
- [ ] Remove label `to save data` label for now in the `pos processor` screen. We should have it back once we have the time estimation formula worked out.
- [ ] For CPU option in `pos processor` - no need to display `(cpu)` type under it.
- [ ] In `Smesher` screen, expected to see date in `Finished creating` row but it is blank.
- [ ] Add thousands separator to hashes / second display strings. e.g

[2021-10-09 07:38] avive commented on #817
Missing finished post setup time:

![Screen Shot 2021-10-09 at 10 37 54 AM](https://user-images.githubusercontent.com/96002/136649110-19e71358-c24e-4398-a978-6aae0c6fd324.png)

[2021-10-09 10:36] avive opened #818 "Confirm shut down operation"
### Environment

* Smapp dev build: #810
* OS: Windows 10 Pro

### Describe the bug

When smapp is smeshing, present modal confirm exit modal when user tries to exit the app, recommend him to minimize the app instead, so user can confirm he wants to stop node and smeshing...

### Steps to reproduce
1. Setup smeshing.
2. Exit app (via close button on top-right side in windows)

### Expected behavio

[2021-10-09 10:50] avive opened #819 "Missing Linux App Icon"
Install Spacemesh on Ubuntu 20 - App icon is missing and a generic desktop icon is used.
It used to be displayed just fine in previous releases in Ubuntu desktop.
Using dev build #810.

[2021-10-10 07:22] avive opened #820 "Expected gpu provider not available"
### Environment

* Smapp version: https://storage.googleapis.com/smapp/pr-c57e2c9c64e347300d782d9a9d24f59298caa3bd/Spacemesh-0.1.2.dmg
#810
* OS:  macOS High 11.6, Mac Mini M1, 16GB.

### Describe the bug

No gpu provider for M1 gpu.

### Steps to reproduce
1. Clean install on a machine w/o prior spacemesh data.
2. Proceed to setup wallet and smeshing.

### Expected behavior
GPU provider for M1 to

[2021-10-10 07:27] avive commented on #815
Occasionally I get this error on startup of first session on a machine w/o local data:
<img width="684" alt="Screen Shot 2021-10-10 at 10 25 53 AM" src="https://user-images.githubusercontent.com/96002/136686732-d500e275-afeb-4686-8e8f-bba6b5f26481.png">

[2021-10-11 16:06] brusherru commented on #820
@sudachen @moshababo
I've found a quick solution: specifying node directory to `cwd` for spawn go-sm process does the work.
So we don't need further investigation. Probably when we'll have more time we can experiment with the "recommended" solutions (E.G. use paths where Vulkan should search for icd by default, but I tested it and it doesn't work for me).

[2021-10-12 16:13] brusherru commented on #816
Can't reproduce. It works fine on my machine and on M1.
Probably this was some temporary issue on the network. The attached log file points on p2p:
[code]
Let's mention someone who has an extensive experience with p2p to check it out?

[2021-10-12 16:19] dshulyak commented on #816
I noticed that discovery gets stuck at 0 from time to time too. Definitely, some issues exist. I don't know if it makes sense to spend time debugging this if it is relatively rare, as the whole p2p layer will very likely get an overhaul soon.

[2021-10-12 18:45] avive commented on #816
I'm going to close as p2p going to be overhauled.

[2021-10-12 18:45] #816 closed, assigned to brusherru

[2021-10-18 19:07] brusherru opened #822 "Handle errors of fetching discovery and network configs"
### Environment

* Smapp version: develop

### Describe the bug

In case if discovery URL or network config URL is not responding or returns a wrong response, the Smapp should show a proper error message to the User and ask to retry (or fallback to something?)

### Steps to reproduce
Clean-up is not required.

1. Turn off the internet (or set `DEV_NET_URL=http://some.non.existing.url/`)
2. Start S

[2021-10-18 19:17] avive commented on #822
It is fine for this release to have one modal error dialog box in all error cases (Internet down, Spacemesh discovery service is down or network config file not available on its expected url) with the following copy.

Title: `Something Went Wrong`
Body: `Can't download network configuration. Check your Internet connection and click 'retry' to try again.`
Button at bottom: [Quit] [Retry]

We don't

[2021-11-04 16:07] brusherru opened #823 "Workaround for StartSmeshing and NodeID"
Right now calling `SmesherService.StartSmeshing` starts creating PoST data using `key.bin` created on the Node start. On the second App session, Node will try to find `key.bin` file in the PoST data directory and use it. It causes a bug, when the User specifies a custom directory (non default `~/post/data`) — it does not contain `key.bin` and Node will create a new one there and created PoST data

[2021-11-06 11:27] avive commented on #823
@noamnelke also note that we have another client - smrepl and users must use it in upcoming devnets until we can ship smapp 0.2. We need to fix post in the node so smeshing will work after restart in smrepl where user updated the node config file. Smrepl is a 100% stateless client so it doesn't keep any post related state or any other user data.

[2021-11-07 07:34] noamnelke commented on #823
@avive I don't think this issue applies to `smrepl`. I assume that `smrepl` users create a config that includes the correct `PostDatadir` before starting the node for the first time, rather than the SMApp flow of starting the node with a temporary folder and then changing it at runtime. Is there any reason to think this is not the case?

[2021-11-07 09:00] avive commented on #823
That's unfortunately not how currently smrepl works. User sets up smeshing via a repl command and is given the code snippet to update the config file and instructions to edit the config file. On next session node takes post data from the config file it is given in startup.

[2021-11-08 08:18] noamnelke commented on #823
@avive

See my comment here: https://github.com/spacemeshos/smrepl/issues/56#issuecomment-962909774

[2021-11-08 12:07] #733 closed, assigned to brusherru

[2021-11-08 12:07] #818 closed, assigned to brusherru

[2021-11-08 12:07] #819 closed, assigned to brusherru

[2021-11-08 12:07] #820 closed, assigned to brusherru

[2021-11-09 14:52] noamnelke commented on #823
@brusherru one point I just noticed: when you mention the default location, that could work for the common case, but not always. Ideally, the location you copy `key.bin` from and compare an existing file with should be _the previous location_, which is the default location in the common case (but not always).

If it considerably complicates the kludge, we can consider just doing what you wrote, bu

[2021-11-09 17:33] brusherru commented on #823
@noamnelke thanks for the attention to detail. I got the same idea when implementing it, so I've already done it using this approach. I'm getting the "previous" `key.bin` path by getting property `smeshing.smeshing-opts.smeshing-opts-datadir` from the config and, in case if it is empty, fall back to the default `~/post/data/`.
Also, if the data-dir path does not change, it starts smeshing as usual

[2021-11-25 10:37] #823 closed, assigned to brusherru

[2021-12-02 08:51] avive commented on #815
I haven't seen this issue in beta0 yet - it might not be reproducible anymore.

[2021-12-02 11:25] #766 closed, assigned to brusherru

[2021-12-02 11:34] brusherru commented on #815
Confirm. It looks outdated and these bugs are not reproducible.
If someone will catch some of it — please, feel free to reopen an issue (or create a new one) and provide logs, steps to reproduce and etc

[2021-12-02 11:34] #815 closed, assigned to brusherru

[2021-12-03 12:21] avive opened #826 "Transactions not displayed in Transactions Log"
### Environment

- Smapp 0.2 beta0
- macOS

### Describe the bug
The activity section (right-side of tx log view) time drop-down filters the data in the main transactions log. It shouldn't. It should only affect data in the activity section.

### Steps to reproduce
1. Get some rewards and execute some transactions.
2. Wait until next day and browse the transactions log

### Behavior
- No results w

[2021-12-03 14:27] avive opened #827 "Finished creating time is not displayed"
### Environment

Smapp version: 0.2.0.beta0

### Describe the bug
Finished creating time is not displayed when post setup is completed.

### Steps to reproduce
1. Setup smeshing and wait for smeshing setup to complete.
2. Navigate to smesher screen.

### Expected behavior
Finished creating time should be displayed.

### Actual behavior
Finished creating time is not displayed.

<img width="690" alt

[2021-12-03 14:36] avive opened #828 "Smesher screen - minor UI updates"
## Smesher Screen
- [x] `Started creating` -> `Started`
- [x] `Finished creating` -> `Finished`
- [x] If setup was finished then hide the progress row - it is only relevant before setup has completed.
- [x] There's redundant space around 'ONLINE' in the sub-title (below smesher title).
- [x] Network name is wrong. Currently `Network 10002 (Testnet)` - it should be the current network friendly name

[2021-12-04 09:35] avive opened #829 "Wrong sync status percentage display in network screen"
### Environment

* Smapp version: 0.2.0 beta0

### Describe the bug
Sync % seems to not being rounded down causing 100% to be displayed when sync is close to finish.

### Steps to reproduce
1. Sync a local managed node.
2. Observe sync % display in network screen.

### Expected behavior
% should be 99% while syncing and only reach 100% when sync is done.

### Actual behavior
Display is 100% x-n/x

[2021-12-04 14:53] avive opened #830 "New Transaction (send smh) screen - misc. ui fixes"
## Summary Area
- `SMH` -> `Amount`. The amount itself should state unit. e.g. `2 SMH` or `1 Smidge` similarly to how fee is displayed in the summary screen.
- Fee amount should have a unit name, e.g. `1 Smidge`.

## Send SMH section
- The title of the Fee row should be `Fee` and not `Estimated confirmation time`.
- The text in the fee dropdown is not themed and therefore not visible when dark ski

[2021-12-04 14:56] avive opened #831 "New transaction screen - pasted address becomes invalid"
### Environment

Smapp 0.2 beta0

### Describe the bug
A valid pasted to address is modified to an invalid one.

### Steps to reproduce
1. Paste a valid dest address in the new tx screen. e.g. 0xd8f1c52065ffea4c4883bf97f8e2bde0121afdef
2. Click `next` and `back` (purple back error in next screen).
3. Repeat step 2 once.

### Expected behavior
Address to remain the same. e.g. 0xd8f1c52065ffea4c4883

[2021-12-04 15:09] avive opened #832 "Transaction Log Screen - transaction details misc issues"
### Environment

Smapp 0.2 beta0

### Describe the bug

- Transaction status is a number - should be a descriptive text label. e.g. `confirmed`, `pending`.
- `Value` -> `Amount`.
- Transaction fee is `0 smidge` - see screen shot below. Should be the actual fee.
- `Transaction Fee` -> `Fee`.

<img width="645" alt="Screen Shot 2021-12-04 at 5 06 35 PM" src="https://user-images.githubusercontent.com/

[2021-12-05 11:22] avive opened #833 "Smesher progress error"
### Environment

Smapp 0.2.0 beta0

### Describe the bug

Error message `STOPPED 14 UNAVAILABLE: CONNECTION DROPPED` in smesher screen.

### Steps to reproduce
1. Open Smapp and start smeshing.
2. Wait for few hours.

### Expected behavior

Assuming the cause of this is a grpc stream timeout. Consider retrying to connect one or two time when a smesher api service stream times out automatically to

[2021-12-12 11:30] avive opened #834 "No new smeshing rewards are displayed after some time"
### Environment
Smapp version 0.2.0 beta0

### Describe the bug

After being open for a long time, no new rewards are displayed.

### Steps to reproduce
1. Setup smeshing and observe rewards displayed in txs log.
2. Leave App open until new rewards stop to appear in txs log. (For me it took ~48 hours).

### Expected behavior
Smeshing rewards to display in transaction log and in the transactions pr

[2021-12-14 09:00] avive commented on #828
I've verified all issues are fixed in the pr.

[2021-12-14 09:00] #828 closed, assigned to brusherru

[2021-12-14 09:00] avive commented on #827
confirmed.

[2021-12-14 09:00] #827 closed, assigned to brusherru

[2021-12-14 09:11] #826 closed, assigned to brusherru

[2021-12-15 09:26] brusherru commented on #834
It might particularly depend on https://github.com/spacemeshos/go-spacemesh/issues/2977, since I don't get all the rewards via the stream even I have account balance updates. But If I rerun the App it will request for the query endpoint, which will show up all rewards well.

However, I've already caught and can confirm that some of the streams sometimes closes unexpectedly and can't be reopened. W

[2021-12-15 11:09] avive opened #837 "Add network selection to new wallet+node flow"
## Motivation
We currently have a hack-ish but super-useful network selector which is displayed once in a new smapp session. We'd like to move this into the new wallet creation flow and have a proper visual design for it.

## Tasks

1. Add new network selection screen new wallet creation flow - not only in the wallet-only mode, but also when creating a wallet+local-node.
2. Use the screen when use

[2021-12-16 15:03] #829 closed, assigned to brusherru

[2021-12-16 15:03] #830 closed, assigned to brusherru

[2021-12-16 15:03] #832 closed, assigned to brusherru

[2021-12-16 15:03] #831 closed, assigned to brusherru

[2021-12-17 08:34] avive commented on #814
@brusherru - currently, in `proof of space size` screen. Free space is displayed empty like this:

![Screen Shot 2021-12-17 at 10 33 38 AM](https://user-images.githubusercontent.com/96002/146514428-b538baaf-30c3-40b7-aa25-d5f333d67948.png)

[2021-12-17 08:34] avive commented on #814
I don't see the 'free space' section anymore when creating post - did you remove it?

[2021-12-20 10:25] avive opened #839 "Typo in wallet only mode"
Current copy copied from the app:

`You app is currently in wallet-only mode and smeshing is not set up

You can switch and start using a local Spacemesh full p2p node managed by this app and start smeshing and getting smeshing rewards.`

- Typo `you app` -> `your app`.
- Add period after first sentence, e.g. `set up.`
- Change last sentence to:

`Click on the setup semsher button below to start u

[2021-12-20 10:28] avive opened #840 "Connection type in network screen"
Current copy: `REMOTE GATEWAY: HTTPS://API-DEVNET-KIRILL-6.SPACEMESH.IO:443`.

Please don't use the term `remote gateway` anywhere. Use `Remote API provider` when in wallet-only mode.

[2021-12-20 10:34] avive opened #841 "Welcome screen layout"
There's lots of extra space between `Use this app to:` line and the lines below it:

![Screen Shot 2021-12-20 at 12 32 39 PM](https://user-images.githubusercontent.com/96002/146753599-56a56c7e-ab4c-4a8d-8d2a-30faaeda4848.png)

The lines below it should be just 1 line below w/o extra empty lines.

[2021-12-20 10:49] avive opened #842 "Missing transaction from log in wallet-only mode"
## Environment

* Smapp version: 0.2.0.beta0

## Rerpo Steps
- Setup smapp in wallet-only mode on devnet210 network.
- Send a transaction from another node to the new wallet's account and wait for it to confirm.

## Behavior
Balance is updated with the tx amount as expected, but the transaction is not listed in the transactions logs or in the transactions summary in the wallet screen.

## Expected

[2021-12-20 13:12] brusherru commented on #842
Can't reproduce it 🤔
![image](https://user-images.githubusercontent.com/1897530/146772294-758177e1-90f3-4284-b995-4f1f87e73c12.png)

[2021-12-20 13:15] brusherru commented on #842
On the second app session, it doesn't appear as well?
I've got it right via GRPC stream, but probably you caught up some issue with streams, so on the second session you definitely should see this transaction in the log, I hope :)
Also, please try to reproduce the bug

[2021-12-20 13:37] avive commented on #842
Not reproducible on k-6 - it was on devnet210. I will re-open if I see this again in beta1.

[2021-12-20 13:37] #842 closed, assigned to brusherru

[2021-12-21 15:03] #814 closed, assigned to brusherru

[2021-12-21 15:03] #839 closed, assigned to brusherru

[2021-12-21 15:03] #840 closed, assigned to brusherru

[2021-12-21 15:03] #841 closed, assigned to brusherru

[2021-12-22 07:57] #817 closed, assigned to brusherru

[2021-12-22 17:17] #833 closed, assigned to brusherru

[2021-12-26 16:18] avive commented on #770
On second thought let's leave it as it is in detailed time format and in the network screen we have the short format.

[2021-12-26 16:18] #770 closed, assigned to nobody

[2021-12-27 08:26] #582 closed

[2021-12-27 09:04] brusherru commented on #837
@avive
1. The first screen that a new user will see is still a "Welcome" screen, right? In this case, I will remove all the sentences which show up a network name? Or we can put this new screen before all (as it does the popup right now, but it will be stylized).
2. Let's think a little bit ahead. We will probably want to add the "switch network" button to the settings or to the network screen. In

[2021-12-27 09:16] avive commented on #837
Thinking a bit about this. Good observations and ideas.

[2021-12-27 09:23] avive commented on #837
We need to go over all the major wallet flows and get a feel of how it might work. I still think that it is a good thing to strongly associate a wallet with a specific network and mode (wallet-only / local node) so it is clear to the user. It makes sense to me to enable the switch mode and network for a wallet via the wallet settings in the setting screen as this is a relatively advanced feature.

[2021-12-27 09:33] brusherru commented on #837
Ok, sounds reasonable.

[2021-12-27 09:36] avive commented on #837
Regarding the welcome screen - I think it is okay to remove mention to a specific network as the user will need to select a network as part of the create new wallet flow for their wallet. It makes sense.

[2021-12-29 06:18] qingrong123 opened #848 "I cant get my smh"
### Environment

* Smapp version: 0.xx.x | develop
* Node version: v0.x.xx
* OS: Windows 10 | macOS High Sierra (10.13) | Ubuntu 20.04

### Describe the bug

A clear and concise description of what the bug is.

### Steps to reproduce

Try to narrow down your scenario to a minimal working/failing example. That is, if you have a big program causing a problem, start with deleting parts not relevant t

[2021-12-29 09:19] brusherru commented on #848
@qingrong123 please provide all the required information for the bug report. Otherwise, we will close the issue soon due to the lack of details.
Also, please, share your account address, so we can check the transactions and rewards history in the network.

[2021-12-29 09:30] qingrong123 commented on #848
Thank you, I have already solved the problem
My address is 0xbf4847999b7202e984f0b42700d8f5f1adcf1f93

| |
黄青容
|
|
***@***.***
|
On 12/29/2021 17:19，Kirill ***@***.***> 0xbf4847999b7202e984f0b42700d8f5f1adcf1f93wrote：

@qingrong123 please provide all the required information for the bug report. Otherwise, we will close the issue soon due to the lack of details.
Also, please, share your account add

[2021-12-29 09:35] brusherru commented on #848
@qingrong123 ok, I'm closing the issue now.
However, if it was something unexpected and you think it is a bug, we will appreciate it if you post details, so we can make Smapp work better.
Anyway, thanks for participating in the Spacemesh test network.

[2021-12-29 09:35] #848 closed, assigned to nobody

[2021-12-29 09:59] avive commented on #834
I don't see this anymore on testnet-021

[2021-12-29 10:06] avive opened #849 "Smesher Screen UI enhancements (WIP)"
Discussion and ideas:
- Remove proof of space status header and 'smesher 0x...' header.
- Change 'Started' row label to 'Setup started' and 'Finished' to 'Setup finished'.
- Create row 'Data directory' to replace the row with the folder.
- Create row with post size. Label: 'Data size'. Data: `2 KB'.
- Add row with label 'Smesher id' and the data is the smesher id + the links to explore and copy bu

[2022-01-03 08:59] brusherru commented on #834
So I'm closing it. If you can reproduce the bug, please reopen this issue.

[2022-01-03 08:59] #834 closed, assigned to brusherru

[2022-01-17 10:24] antonlerner opened #855 ""14 Unavailable - connection dropped error" message"
### Environment

* Smapp version: 0.2 | testenet216
* Node version: v0.2 testenet216
* OS: unknown

### Describe the bug
![image](https://user-images.githubusercontent.com/21037839/149751306-45b8b0a0-219b-4335-ae67-a9ed62d6649e.png)

User received "14 Unavailable - connection dropped error" on proof of space generation screen

### Steps to reproduce
Run first time initialisation - get to post gene

[2022-01-17 11:24] brusherru commented on #855
@antonlerner please, fulfill the "Logs" section and add other details if possible:
- is node syncing / synced now?
- can you also attach `node-config.json` (from the same directory: `%APPDATA%/Spacemesh`)? Or at least copy-paste a part with key `smeshing`?
- restarting the app fixes the problem?
- what happens when you click on the "resume" button? Nothing?

[2022-01-19 13:19] antonlerner commented on #855
![image](https://user-images.githubusercontent.com/21037839/150138681-82b11f90-5e51-4380-9d71-acc4aebcdd8d.png)

[2022-01-19 13:26] antonlerner opened #856 "UI doesn't start on failure to fetch networks"
### Environment

* Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-62-generic x86_64)

### Describe the bug

SMapp UI is not loading

![image](https://user-images.githubusercontent.com/21037839/150139480-84ef3fcb-b5cb-4d84-9f62-a10d0883e684.png)

### Steps to reproduce

Waiting to see what did user run
User tries to run it from VPS and from terminal

[2022-01-21 08:58] #849 closed, assigned to brusherru

[2022-01-21 19:58] Mus156 commented on #856
I had this problem. After starting the network, everything worked. Apparently the problem appears when the network is down.

[2022-01-26 13:56] #822 closed, assigned to brusherru

[2022-01-26 13:56] #837 closed, assigned to brusherru

[2022-01-28 11:43] brusherru commented on #856
@Mus156 you're right.
The Smapp counts that the discovery service is always available and has at least one network listed there. As a consequence, Smapp can't run in a normal way without at least one available network.
But I have good news! My PR #862 fixes it and makes it possible to run Smapp when retrieving networks from discovery service fails for any reason.

@antonlerner @Mus156 thanks for t

[2022-01-31 12:31] brusherru opened #863 "Updating Smapp with bundled Node"
### Rationale
We need to provide an easy way for our users to have go-spacemesh and Smapp is up-to-date.
Since we still have discussions about the whole auto-updating system and no implementation, I suggest implementing a basic auto-update feature for Smapp. Despite possible future changes (like stopping bundling Node) I'm sure that we will still need an auto-update feature for the Smapp.

This is

[2022-01-31 12:32] brusherru commented on #863
@moshababo @avive please, check it out

[2022-02-02 11:22] brusherru commented on #164
It is a bit outdated. See an actual issue: #863

[2022-02-02 11:22] #164 closed

[2022-02-02 11:23] brusherru commented on #137
Outdated. See an actual issue: #863

[2022-02-02 11:23] #137 closed

[2022-02-02 11:23] brusherru commented on #137
Outdated. See an actual issue: #863

[2022-02-02 12:02] brusherru commented on #490
@lrettig @avive I want to clarify, does flag `--data-folder` responsible for it?
If so the solution is to add optional selection (on Settings screen) of the data folder and store this value on fs.
And I assume that we should move the existing `node-data` folder to the new place before restarting the Node (to continue from the same place).
Am I right?

If so — I can easily reword it and then implem

[2022-02-02 12:29] brusherru commented on #504
Outdated.
Check out #823 and https://github.com/spacemeshos/go-spacemesh/issues/2858

[2022-02-02 12:29] #504 closed

[2022-02-02 12:35] brusherru commented on #490
@lrettig is this issue some kind of a duplicate of #521?

[2022-02-02 12:37] brusherru commented on #606
@avive don't you know what is about? :)
We have it as a task of #485
But until there is no details, I'd prefer to keep opened issues clear :)

[2022-02-02 12:37] #606 closed

[2022-02-02 12:44] brusherru commented on #499
#635 seems like a bug report for this issue

[2022-02-02 12:45] brusherru commented on #635
Will be fixed within #499

[2022-02-02 12:45] #635 closed

[2022-02-02 16:31] brusherru commented on #680
I think it shouldn't be complicated.

The easiest solution is to use https://www.npmjs.com/package/node-log-rotate and just clean all logs older than one or a couple of days every 24h.

Much more complicated solution is to make something like circular buffer. But I'm not sure that it is handy (it will be harder to find a start of the log) and such file should also contain a byte number of the late

[2022-02-10 11:17] antonlerner opened #865 "App Doesnt close properly"
### Environment

* Smapp version: 0.xx.x | develop
* Node version: v0.x.xx
* OS: Windows 10 | macOS High Sierra (10.13) | Ubuntu 20.04

### Describe the bug

Started app, white screen appeared, when tried to close it an error popped out:
Unhandled Promise Rejection
TypeError: Cannot read property 'stopNode' of undefined
    at /Applications/Spacemesh.app/Contents/Resources/app.asar/desktop/main.pr

[2022-02-10 14:40] antonlerner opened #866 "when first installing SMapp, it cannot connect to node"
### Environment

* Smapp version: 2.1.0-beta
Os: Mac Mojave

### Describe the bug
<img width="1437" alt="Screen Shot 2022-02-10 at 16 29 42" src="https://user-images.githubusercontent.com/21037839/153428688-fd29bb2f-376c-473b-8f4a-8013af403e44.png">

A clear and concise description of what the bug is.
[app-logs.txt](https://github.com/spacemeshos/smapp/files/8041818/app-logs.txt)

node logs seems

[2022-02-10 14:45] antonlerner commented on #866
seems like an incorrect flow, POST should be allowed to be crated while node is syncing, users can't advance from this stage until node is synced and having the node not synced blocks the flow of onboarding

[2022-02-23 11:00] #856 closed, assigned to nobody

[2022-02-23 13:00] #863 closed, assigned to brusherru

[2022-03-22 22:50] DarthVanger opened #880 "Can not setup a new wallet: it's impossible to select a spacemesh network"
### Environment

* Smapp version: 0.2.1-beta.2
* Node version: I can't find the "settings" screen to see the node version.
* OS: macOS Catalina (10.15.7)

### Describe the bug

When setting up a new wallet, on the "Select Network" step the dropdown is empty and nothing happens when I click it. It is impossible to proceed with the setup, as the "Next" button doesn't work.

<img width="1280" alt="im

[2022-03-23 11:02] brusherru commented on #880
Thanks for the report!

The reason that right now there is no available networks on [discovery service](https://discover.spacemesh.io/networks.json ). If you update to the latest Smapp (0.2.2) you'll see a reasonable message inside the dropdown and SKIP button that will run Smapp without connecting to any network (pretty useless). 😃

[2022-03-27 08:39] avive commented on #866
@brusherru  Smapp should allow creation of POSTs without the node being synced but the node's api obviously needs to be available. Node must be synced to create the first ATX. @noamnelke

[2022-03-27 08:43] noamnelke commented on #866
If the node doesn't behave as expected - we need to figure out why. Can you distill the logs that Anton attached and tell me exactly what the unexpected behavior is?

[2022-03-27 08:45] avive commented on #866
@antonlerner - I'm testing now with Smapp v0.2.3 - you can create POST before the node is synced. The issue you have been seeing is likely the node being down and api unavailable. When the node is syncing the status street-light is orange. When node (or api) is down - network status is red like in the screen shot you have shared. Please try to repro again with current devnet and smapp release.

[2022-03-27 08:48] avive commented on #865
@antonlerner can you please repro with current devnet and smapp release v0.2.3 - I haven't seen this dialog box for a long time...

[2022-03-27 08:48] avive commented on #855
@antonlerner - can you please provide more info about this issue so we can try to repo?

[2022-03-27 08:51] avive commented on #813
I still think we shouldn't build this feature in Smapp yet. I think it is much more important to allow users to submit an error report that will include the node and smapp logs as uploads. We should compress the huge node logs file before uploading and have a centralized place to review such errors and logs. Upload should include all the info needed for debugging - @brusherru - the things you've b

[2022-03-27 08:55] #880 closed, assigned to nobody

[2022-03-27 09:12] avive commented on #812
@brusherru is this fixed or still an open issue?

[2022-03-27 09:17] avive commented on #799
I think that all of the proposals are good patterns but in terms of priority tests should be first and break this epic into smaller refactoring tasks that can be handled at times where there are no new major feature in the product pipeline.

[2022-03-27 11:28] avive commented on #721
Feedback on this new feature is welcomed @brusherru @noamnelke @lrettig @moshababo . It is an important one because it increases transparency and makes the user more empowered as he sees what's happening with each activation (ATX)

[2022-03-27 11:41] #716 closed

[2022-03-27 11:41] #674 closed

[2022-03-27 12:00] #554 closed

[2022-03-27 12:11] avive commented on #580
@brusherru - how are we on these requirements in release 0.2.3?

[2022-03-27 12:14] #866 closed, assigned to nobody

[2022-03-27 12:16] avive commented on #785
@brusherru - what's been implemented as of v0.2.3 of the above requirements?

[2022-03-27 12:18] avive commented on #681
@vomcent please point us to design in Figma or create one...

[2022-03-27 12:20] #223 closed

[2022-03-27 12:26] avive opened #882 "Error Reporting"
### Rationale

We'd like to enable user to submit an error report and collect these on one of our servers.

### Requirements
- Error report should always include all log and config files used by smapp, including the currently used node config file.
- Logs should be compressed prior to uploading
- User should be able to input a short error description or issue before submitting.
- Ideally report wi

[2022-03-27 12:43] brusherru commented on #785
First two paragraphs still not implemented yet. However, in case if no network / api is available we can skip it without any additional waiting time.
Implementing it should not be a complicated but most likely it will require some refactoring.

So it is almost implemented, but we are still waiting until the node will response successfully on echo message via GRPC on a startup, and then show a next

[2022-03-27 12:51] brusherru commented on #812
I have to check it, but I'm pretty sure that this is still actual. I didn't optimized rendering of that screen and components inside.

[2022-03-28 06:11] brusherru opened #885 "Smapp gets stuck on unlocking wallet file, which points to non-existent network"
### Environment
* Smapp version: 0.2.3

### Describe the bug
When User updates Smapp to 0.2.3 and tries to unlock his old wallet file (which points on non-existent network) Smapp will stuck on the loading screen. After restart of Smapp (or creating a new wallet file) it works fine.

### Steps to reproduce
1. Change `netId` in the wallet file to non-existent one (aka `200`)
2. Run Smapp, type passw

[2022-03-28 09:53] avive commented on #885
I have experienced this issue yesterday when testing 0.2.3 as well.

[2022-03-29 03:01] brusherru commented on #580
Release 0.2.3 does not include this feature.
Working on it include it in the next release.

[2022-03-30 10:32] avive commented on #490
@lrettig

[2022-03-30 10:36] avive commented on #630
@brusherru is this still a valid issue due to wallet related recent changes?

[2022-03-30 10:39] avive commented on #721
I got some feedback - working on next design iteration considering it.

[2022-03-30 10:51] noamnelke commented on #490
@brusherru yes, `--data-folder` is the arg you need to change and what you wrote about moving it is correct.

The other issue is weird. It should behave that way only if his home dir is `~/config` because the default data folder is `{USER_HOME_LOCATION}/spacemesh/`. However, it seems like the same issue.

[2022-03-30 11:13] avive commented on #721
@noamnelke feedback:

- we don’t have timestamps of when an ATX was created, submitted to PoET and published
- I think this can be made more intuitive - I find the current design confusing it also doesn’t mention the ATX’s positioning ATX.
- I think ATXs should be presented as associated with an epoch on the list level. All epochs should have an entry - with or without an ATX.
- If one epoch was s

[2022-03-30 19:14] brusherru commented on #580
@avive everything is almost done except one things: wallets still created at the same place and User can't choose to create it in another place.

Also unlock screen looks like this now:
<img width="1392" alt="Screenshot 2022-03-31 at 02 08 50" src="https://user-images.githubusercontent.com/1897530/160912090-3f97bc80-4e03-49bf-98ec-b42d0502c9a7.png">

But I need to clarify a couple of nuances:
1. W

[2022-03-30 19:20] brusherru commented on #580
Also, I think that it is better to ask User to set the name of the wallet in creation wallet flow, with the default "Main wallet".
In this case it will be easier to have a meaningful names in the dropdown when User creates some wallets (otherwise there will be few "Main wallet"s).

I think we can do it within one step, which will ask to choose the directory to store the wallet file and set the nam

[2022-04-03 06:01] avive commented on #580
Good questions - regarding the first 2:
0. Only display the drop-down is Smapp is aware of more than 1 wallet. 80% of the users will use only 1.
1. When user closes a wallet and local node is running then node should not be shut down. However, remember we talked about each wallet having meta-data of the net-id it was last used with? So if user opens a new wallet with the same netId then node can k

[2022-04-03 06:04] avive commented on #580
In this case it will be easier to have a meaningful names in the dropdown when User creates some wallets (otherwise there will be few "Main wallet"s).

I think that we should prompt for wallet-name as part of wallet creation flow only on the 2nd time user creates a wallet to make the basic use-case simple and short. We should not suggest 'main wallet' as the default name for 2nd or later wallet, u

[2022-04-03 06:05] avive commented on #580
I think that custom wallet directory is an advanced feature that should only be in the settings and we'll need this wallets-meta-data app data to keep track of these dir for previously opened wallets as long as the netId of each wallet....

[2022-04-03 06:07] avive commented on #580
Don't we already have this feature as restore from file? The user points to the location of the wallet that smapp doesn't know about and opens that file from that path. It shouldn't copy over that file - it should just use the wallet's FS path as its location...

[2022-04-03 06:08] avive commented on #580
Recover from mnemonics is designed if you lost the wallet's file or its password. It basically generates a wallet from the seed as the previous wallet. User should go through the flow of local/remote and which api end point to connect to like in a new wallet flow - the only difference is that restore is using the same random seed as the lost wallet and not a new random one...

[2022-04-03 06:37] brusherru commented on #580
I thought just to store paths to opened/created wallet paths.
When Smapp starts (or shows unlock screen) — it will check for the existence of wallet files by these paths. In case some of them are missing — mark it (aka red text `Wallet file missing (D:\my_wallet....json)` in the dropdown.
So I don't propose to change the default path for wallet files, I propose to store wallets in any place on FS.

[2022-04-03 15:04] avive commented on #580
1. I think it is fine to only have path in the wallets data file as you propose.
2. Once we have an option to open a wallet from any path we don't need the restore from file feature anymore :-)
3. I don't think we need to offer option for location to make sure the first session flow is smooth w/o too much information. Users should be able to click to browse their wallet file from the settings... s

[2022-04-08 21:05] maparr commented on #882
Hi @avive, after researching for this improvement I found a few ways how we can implement this.
1. we can add crash UI dialog with a client and as u described, all these features with custom API calls, logging, etc.
2. we can add [sentry](https://sentry.io/for/electron/) to catch these issues in the background.

In case of custom implementation, in this case:
- custom implementation, means support

[2022-04-10 08:43] avive commented on #882
Sentry looks like a good first option to try. Cost is reasonable as well. If we observe that they have production bugs that block us and in the case that they don't fix them quickly enough, then we can always switch to our own custom implementation.

[2022-04-11 08:01] avive commented on #681
@brusherru here are mocks with the visual design for the amounts:

https://www.figma.com/file/6bbFkIAzVu36bIpUNnMqoy/Smapp-Designs?node-id=9602%3A37522

[2022-04-12 06:10] avive opened #888 "Multisig Support"
### Rationale

We need to support multi-sig transactions for sm 0.3 (Milestone 7)

### Prerequisites

go-sm transactions api service

### User story

TBR

### Acceptance criteria

### Out of scope

### How to implement

If you have an idea of how to implement it, provide a short description.

### How to test

[2022-04-12 07:38] avive commented on #580
## UI Review Notes

1. Restore command from modal screens such as unlock screen: no need to show additional ‘open’ command. The restore existing wallet first screen can should have 2 commands: 1. Open from file. 2. Restore from 12 words. This screen should be triggered from restore command. Technically, open from file works like restore from file (opens from path) so this is just naming.
2. In set

[2022-04-12 08:33] avive opened #889 "Modern Skin"
### Rationale

We'd like the default Smapp skin to look and feel consistent with the visual design of https://spacemesh.io

### Acceptance criteria

Provide some steps that an end-user would be able to perform when the feature could be considered as implemented. E.g.:

- [ ] Default smapp skin for new users is modern.
- [ ] User can switch to the legacy dark and lite skins via settings.
- [ ] Smap

[2022-04-12 10:59] maparr commented on #882
Sentry integration definition of done:
- [x] sentry account was created for our team
- [x] connect Sentry to Electron via SDK
- [x] cover main screens with route detection, check the integration
- [x] test stack trace and client platform information
- [x] add Slack alerts integration
- [x] add GitHub integration with commits and auto-assign
- [x] add build version integration with sentry
- [x] sep

[2022-04-12 12:03] brusherru commented on #521
Duplicate of #490

[2022-04-12 12:03] #521 closed

[2022-04-14 09:04] #580 closed

[2022-04-14 09:04] #630 closed

[2022-04-14 14:07] #885 closed, assigned to brusherru

[2022-04-15 06:24] avive commented on #813
I think that this log should go into the Smapp log file and that we should add some of the info you include in the issue in a more concise way to users in the smesher screen.

[2022-04-15 06:52] avive opened #890 "POST setup improvement"
### Rationale

Make it easier to setup post.

### User story

User wants to setup post. He gets to the processor screen and is presented with 1 or more processors. Smapp should automatically select the processor with the fastest hashes per seconds - there's always 1 processor like this, in the worse case it is the CPU processor. By implementing this enhancement we will save many users 1-click in t

[2022-04-15 07:21] oriya commented on #890
FYI
-
SMAPP does select something by default, yet it isn't clear to end user. First the wording instructs to select something. Second, the default selection isn't clear, unless you know the color scheme - that white means "selected". I suggest that we make it clear by
- 1. Change the wording to say, your fastest GPU is chosen by default, feel free to change it
- 2. Add a "check / selected icon" to

[2022-04-15 07:33] oriya commented on #721
Had a preliminary discussion with @noamnelke to create additional visuals exploring a SMAPPer's Journey and the specific value "activations" will add to user (smesher/smapper) such as
- Did my initialization finish
- When will I be eligible to smesh
- Once eligible, when will I earn, and how much (estimated)

[2022-04-15 07:40] avive commented on #890
@vomcent what do you think about Oriya's ideas?

[2022-04-15 07:42] avive commented on #890
In the current build I'm testing, next button is disabled and smapp doesn't select a processor by default - they are all grey... maybe it was fixed in the devnet build you are using. @brusherru ?

![Screen Shot 2022-04-15 at 10 45 34 AM](https://user-images.githubusercontent.com/96002/163541458-70f4a8c3-1f35-4d6a-ae6c-b049d0e95043.png)

[2022-04-15 07:49] oriya commented on #890
I'll double-check again. Regardless, your original suggestion to make the fastest be selected by default (making it clear that is it selected) alongside  some text changes is appropriate and would make it smoother for your everyday SMAPPer.

[2022-04-15 09:59] brusherru commented on #890
Nope, by default, nothing is chosen. I'll tweak it.

Regarding selection/icons — when you have only two options it is always hard to understand which one is chosen if only you don't see a familiar GUI (like a radio button or iOS switch). But I'm not sure that additional icon will fit well here, and actually, I think it is some kind of visual garbage :)

So I propose
- choose fastest by default,
-r

[2022-04-15 11:28] oriya commented on #890
I like 👽

Maybe highlight

**The fastest one is chosen by default**

[2022-04-15 11:31] oriya commented on #890
Maybe highlight **The fastest one is chosen by default**

[2022-04-18 22:57] maparr commented on #882
#893

[2022-04-22 14:22] willemsFEB opened #895 "specify target directory for blockchain data"
In smapp on Linux, when setting up spacemesh, you can't specify the target directory for the blockchain data, and it will default to ~/.config/spacemesh . For devices with low internal storage it would be useful to be able to specify the target directory for blockchain data, eg an external drive.

[2022-04-23 13:25] brusherru commented on #895
Hello @willemsFEB,
Thanks for the suggestion and for sharing your pain.

I have good news for you: It is already almost done in #894!
You can check it out or wait for the next release, this feature will be in.

Since this is a duplicate of #490 and #521, I'm closing the issue. ✌️

[2022-04-23 13:25] #895 closed, assigned to nobody

[2022-04-25 08:39] willemsFEB commented on #895
Thanks! Very excited to test it out! Sorry for the duplicate ticket

[2022-04-25 10:56] #882 closed, assigned to maparr

[2022-04-25 12:36] #490 closed

[2022-04-26 08:43] #890 closed, assigned to brusherru

[2022-04-26 18:28] maparr commented on #499
Hey @avive
in the current version of smapp seems we don't have this issue
1. if delete the Spacemesh folder in Program Files in Windows, and run the installer again, the installation process will go smooth and will ask you to sign in to the account and enter the password ( because we didn't remove the data folder )
2. in case of the default uninstall process from Windows programs manager, working

[2022-04-26 18:39] maparr commented on #635
Hi @EmperorXenu, seems for the current version of the Spacemesh app, we resolved this issue. Is it possible to check on your side ?

[2022-04-28 16:10] brusherru opened #899 "Smapp shows empty window on activation after hiding"
### Environment
* Smapp version: [develop](https://github.com/spacemeshos/smapp/commit/68d8689a3b51535af48c7860cc9bb00f5586d602)

### Steps to reproduce
In dev mode you can just reload the page (cmd+r) and get the result.
In builds you can go through this user story:

1. Open Smapp
2. Setup Smeshing
3. Close the window
4. In prompt choose "Run in background"
5. Click on the app icon in docker / tr

[2022-04-29 10:15] #899 closed, assigned to maparr

[2022-05-09 06:27] oriya commented on #721
Thank you @noamnelke for providing us with an amazing presentation for everything (just about) that is possible as far as activations messaging and user-journey goes. All in this attached document. We will be using this document to build out iterations.
[Smeshing status.pdf](https://github.com/spacemeshos/smapp/files/8649210/Smeshing.status.pdf)

![Smeshing status (1)](https://user-images.githubus

[2022-05-09 06:35] oriya commented on #721
What @avive and I came up with so far is the addition of a section called "REWARDS" that will display a smesher's rewards based on PAST, PRESENT & FUTURE EPOCHS, basic information (TIME***WHAT-FOR***HOW-MUCH) with the potential/links to further drill down.

![Rewards Draft](https://user-images.githubusercontent.com/5625203/167353139-738150e9-5e6c-4cf8-9419-e6c48a2d1803.jpg)

**The problem: where i

[2022-05-09 08:56] noamnelke commented on #721
I don't like this separation of epochs - I think it's mostly confusing.

I think that I, as a user, would just want to know what rewards I've already earned (regardless of epoch) and what rewards I'm expecting.

Instead of providing this answer in a simple way (list of past rewards and list of future rewards), we're showing this complex hierarchy that hides away the interesting details.

I don't m

[2022-05-11 10:31] brusherru commented on #721
I agree with @noamnelke. This separation of past, present and future seems a bit complicated.
I like what I see in the presentation by @noamnelke.
I think that the single timeline will be a best way to show what is happening here. Then we can add user-specific data to this timeline and he will know where is he and what he can expect.

I've created some kind of design draft in google sheets :D
Plea

[2022-05-11 10:46] oriya commented on #721
At this point, with all this great feedback- I tend to agree with you both.

In addition, what we propose @avive and myself, is to separate "messaging & information" about

rewards / activations / epochs

from our desired focused "my rewards" screen,

like you both suggested - keep it clear

Recent & Upcoming

So the evolving idea is to keep the Rewards screen focused - something of a combination

[2022-05-12 07:36] Stizerg opened #906 "The password request upon wallet opening (Windows/Linux/MacOS)"
Currently the user have to enter the password at the smapp start (for Windows, not sure about other platforms).
Smeshing/Sync doesn't start until user enters correct password.
It prevents unattended smeshing (automatic smeshing start after Windows loads).

### Acceptance criteria

Smapp should start without the password prompt
Smeshing / Sync should start automatically after smapp loads
The user s

[2022-05-12 08:19] avive commented on #906
I assume you mean that smeshing/sync will start only if the current wallet that the user is prompted to open is configured to run with local node? Smeshing/sync and local node startup should not happen if the wallet was last used with a public sm api provider....

[2022-05-12 08:33] brusherru commented on #721
### List of data that we need to render in any way.
Checkbox next to the data piece indicates do we have an API or not.

1. [x] Smesher ID — already use `SmesherService.SmesherID`
2. [x] Space (PoS size)
     - we store it right into `node-config.json` under the `smeshing-opts` key. So we can take these values from here
     - but probably the proper way is to use unimplemented GRPC API: [SmesherS

[2022-05-12 10:03] Stizerg commented on #906
Obviously the wallet have to be configured before as default destination for smeshing rewards.
Is there anything that prevents sync without configured wallet?

[2022-05-15 08:13] brusherru commented on #906
@Stizerg thanks for the report.
I think I understand the pain and we really should tweak it.

User Story:
1. User opens Smapp, creates wallet (running local note), syncing, and also started smeshing...
2. User also turns on autostart of Smapp.
3. Then User rebooted OS

Expected:
- Smapp should continue syncing and smeshing on startup without any questions.
- So User may forget about it until he wa

[2022-05-15 08:16] avive commented on #906
It should def work this way - we had an old issue about it but I guess it was lost...

[2022-05-15 08:19] avive commented on #721
We should figure out who, if anyone from core dev can add these features to the api. @selfdual-brain @noamnelke @lrettig @moshababo . If it is not likely that this task can be done anytime soon then Smapp should just mock data from the API so we can move forward on this feature until the API work is done. I think that we should not attempt to parse the logs for data - it is fragile and will make t

[2022-05-15 08:19] avive commented on #721
This is exactly how we should evolve the API - based on client needs...

[2022-05-15 12:01] Stizerg commented on #906
Yes, that's all correct @brusherru
Thanks

[2022-05-17 12:24] noamnelke commented on #721
Only thing I would add to what @avive said is that I think that the `SmesherService` is not detailed enough (in addition to not being implemented), so we may need to think about how to enrich it, possibly based on my wireframes.

[2022-05-20 13:03] dimisjim opened #909 "Doesn't work on Ubuntu 22.04"
### Environment

Ubuntu 22.04 latest

### Describe the bug

The app fails to startup on a standard ubuntu 22.04 installation

[2022-05-20 16:49] maparr commented on #909
Hi @dimisjim , thank u for the report. Can u inform me, which app version do u tried to install?

[2022-05-20 20:20] dimisjim commented on #909
latest one, 0.2.5

[2022-05-23 20:21] maparr opened #910 "User can switch to the legacy dark and lite skins via settings."

[2022-05-23 20:21] #910 closed, assigned to nobody

[2022-05-23 20:29] maparr commented on #889
Hi @avive , @oriya . I finished with the design changes and right now PR on the review #908 , and just tested the implementation for default skin, we have 2 variants
1. Client didn't set up our app yet and computer and didn't recover yet from the file or so. The default will be Modern ( new one )
2. Client selected the account on the unlock screen and didn't select the theme yet. The default will

[2022-05-24 07:34] oriya commented on #889
Sounds good to me.
However and/or in addition, I have a question here... why have a legacy dark skin at all?
my concern is this - having 2 similar dark skins available - can confuse the user - making them not understand why there are so many choices to the same thing - might waste their time and even worst - make them feel like they are "missing something"... (like I am - when looking at this mode

[2022-05-24 08:16] brusherru opened #911 "Tweak Transactions Log screen"
### Rationale
We have a transaction log screen that shows up all transactions and rewards per current account.
It will be useful if the user can choose to show only transactions or only rewards.

How this screen looks now:
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/1897530/170006824-9c2dcab6-c45a-4f8a-8726-338a4af876df.png">

### User story

- [ ] User opens the w

[2022-05-24 08:43] oriya commented on #721
an update: this has split into the following 3 branches:

1. Updating API with needs specific to this new feature (rewards & activations)
https://github.com/spacemeshos/smapp/issues/911
3. Using the data we gather from the node itself - update the existing smeshing screen with additional information such as epoch
eligibility
last reward earned.
https://github.com/spacemeshos/smapp/issues/912
4. wo

[2022-05-24 09:32] brusherru opened #912 "Tweak Smesher screen"
### Rationale
The smesher screen shows some information, but it is not enough for the user to understand what is the current status.

Here are the user questions we want to answer:
1. I am Smeshing Correctly (eligible for reward)?
2. Am I getting rewards?
3. When is the next one?
4. What & When was my last reward?

The idea is to add such additional rows:

- **Smeshing statistics**
   Layer reward

[2022-05-24 09:56] maparr commented on #889
the design will be different for the light/modern in case we want to delete the dark theme. As an option we can change the light skin to the modern one, I need just need to change the light skin and we will be behaving the light/dark as before, with the option to change it and fix the theme even after 20:00 PM.
But maybe we want to have an option to change the skin and want to force it to light/da

[2022-05-24 15:21] brusherru commented on #889
@maparr I think @oriya means that we need only modern theme, that might be presented as a single one (as website), without "light". But don't rush doing it :)

Since we are keeping og.spacemesh.io for community who like previous website more (and seems we have opened discussions there as well), probably we want to keep it in Smapp as well.
I also agree that it will be better to have a single polis

[2022-05-25 06:08] oriya commented on #889
The current decision is this... leave as-is and rename skins as follows
Modern Dark
Classic Dark
Classic Light

[2022-05-25 06:12] oriya commented on #889
In addition, we will be conducting full UX review and get back to you soon.

[2022-05-25 21:19] maparr opened #913 "Feature: add auto detection for blocks on the Settings page"
The left navigation bar doesn't respond when the page is scrolling, only working with a click

https://user-images.githubusercontent.com/54288612/170369041-40233756-2d89-4bd8-a4d8-984cfeb11dce.mov

[2022-05-26 07:26] brusherru commented on #909
@dimisjim thanks for the report.

It will be very helpful if you can provide some additional information:
1. Could you attach a log file: `~/.config/Spacemesh/app-logs.txt`?
2. Try to run it from the terminal — some uncaught errors might be printed. Please, share if there are some.

[2022-05-26 08:00] dimisjim commented on #909
Hey @brusherru

Sure, this is what I am getting when trying from a terminal:
[code]

The crash report shows these logs too:
![image](https://user-images.githubusercontent.com/6890249/170444986-bc718aeb-9c3d-45ae-93c2-01c956858ec2.png)

It seems to be a graphics problem

[2022-05-26 17:12] avive commented on #913
This is a nice catch!

[2022-05-30 18:30] maparr opened #914 "Separate dropdown components and declare different list styles in dropdown component."
### Component: dropdown

### Rationale
At this moment we have a dropdown component and for the list, we have to declare our own style everywhere we're using the dropdown, we don't have a default template for this.

### Acceptance criteria

we have different styles for dropdown lists, very styled should be configurable and extendable based on a theme or component props.

### How to implement

Creat

[2022-05-30 19:32] maparr opened #915 "feature: auto complete dropdown, add contacts."
### Status
Only after interaction with auto-complete, we can see addresses

### Proposal
Add a list of contacts as a dropdown and only interaction with the auto-complete allow the user to use the new address. Separate autocomplete list and show at the bottom contacts, on top show filtered by client input addresses.

As an additional part, we can save in contact the new address that was used to sen

[2022-05-31 06:09] brusherru commented on #913
Actually, I'd like to change the Settings screen completely, because now it is quite inconvenient to use.
Moreover, I think most of the things here can fit on just one screen.
Something like this:
<img width="406" alt="image" src="https://user-images.githubusercontent.com/1897530/171104350-e2c0924e-997d-4510-9c74-e0a4c909ba7d.png">

Also, I think it will look correspond with our modern website.

W

[2022-05-31 08:10] oriya commented on #913
That is a great idea @brusherru I am 100% supportive of this idea. New Issue? :)

[2022-05-31 08:29] avive commented on #913
My 2 cents: I'm not a fan of this approach because it is not very scalable and it makes it hard to add new settings. The current view is not that pretty but is quite functional and similar pattern to other highly popular apps with many settings - check facebook, insta, twitter, chrome. I think it is a good idea once the Settings stabilize a bit more - I think it is likely that this will happen aft

[2022-05-31 08:30] avive commented on #913
Settings is where people go to change defaults and they spend very little time there - in and out - it doesn't make sense to invest in super cool ui in this screen compared to wallet, txs view, rewards stuff, etc... where it is likely that users will spend most of their time in the app...

[2022-05-31 08:54] oriya commented on #913
okay. so we wait for now. specifically on redesigning settings. but we will revisit once we are most stable overall.

[2022-06-01 10:40] maparr commented on #913
Hey @oriya , @avive , just didn't notice that you're going to rethink this page and just did the task, how it's working after the fix u can take a look https://github.com/spacemeshos/smapp/pull/916 , if we want to change this scree I will close the PR.

[2022-06-01 10:48] maparr opened #917 "Integrate a Storybook for our components."
We have a lot of components that are not standardized for our pages and we have requested to refactor them, to make them smaller and more useful.
I'm proposing to add [Storybook](https://storybook.js.org) and integrate it into our app.

Before starting to refactor dropdowns or text components that we copy-pasting, it's better to summarize where and which functional components, with different style

[2022-06-01 10:50] maparr commented on #917
hey @brusherru , what do u think about this step?

[2022-06-01 11:50] brusherru commented on #913
it might be scalable, at least we can put all "other" stuff in the rows below
but all main features will be on the fingertips, aka it is already on the screen, you don't have to scroll or aim at a corresponding section link :)

Of course, this is not high-priority stuff.

[2022-06-01 11:53] avive commented on #917
It is a great idea - it should be the next version of the UK Kit Figma page with the reference controls design for the 3 skins

[2022-06-06 07:46] #889 closed, assigned to maparr

[2022-06-06 09:59] #913 closed, assigned to maparr

[2022-06-06 15:29] lrettig commented on #721
@oriya would you mind opening an issue in the [API repository](https://github.com/spacemeshos/api/issues) (linked here/to the other split issues) tracking what needs to be added or changed there?

One more thought: from a product perspective, it would be really nice to study prior art, i.e., what other projects are doing - what can we learn from them and what can we improve? How does this look to

[2022-06-10 10:12] #909 closed, assigned to maparr

[2022-06-15 06:51] #917 closed, assigned to maparr

[2022-06-29 12:20] brusherru opened #927 "Account Tx&Rewards history per network"
### Rationale
We're storing all known transactions and rewards into the log file to show it up more quickly to Smapp user. But we store these lists under `accountId` only, so when User connects to the new network — Smapp shows these unactual data.

What do we need to do: use network id as well. Aka `{ [netId]: { [accountId]: { txs: Tx[], rewards: Reward[] } }`

[2022-06-30 08:15] #914 closed, assigned to maparr

[2022-07-01 11:50] #912 closed, assigned to brusherru

[2022-07-04 08:11] oriya commented on #865
@brusherru I am guessing this is something we can close?

[2022-07-04 08:12] oriya commented on #888
I am assigning this to myself to follow up.

[2022-07-04 08:14] oriya commented on #855
@brusherru Can we close this?

[2022-07-05 08:54] maparr commented on #865
the issue is not relevant anymore.

[2022-07-05 08:54] #865 closed, assigned to antonlerner

[2022-07-05 08:54] maparr commented on #855
the issue is not relevant anymore.

[2022-07-05 08:54] #855 closed, assigned to antonlerner

[2022-07-05 08:56] maparr commented on #806
The issue is not relevant anymore. We are using storage for the selected theme.

[2022-07-05 08:56] #806 closed, assigned to nobody

[2022-07-05 09:03] maparr opened #931 "Add 'Report an issue' screen or modal next to the app version"
### Rationale
Right now we have a catcher for critical issues. We want to add a modal or screen where users can report an issue or suggestion.

I prefer to add it next to the version number.
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/1897530/170006824-9c2dcab6-c45a-4f8a-8726-338a4af876df.png">

### Acceptance criteria

- [ ] User see an issue
- [ ] User clicks 'Re

[2022-07-05 09:06] maparr commented on #906
Seems #785 is relevant to this issue, will check on the investigation step.

[2022-07-05 09:07] maparr commented on #769
This issue is not relevant anymore.

[2022-07-05 09:07] #769 closed, assigned to brusherru

[2022-07-05 22:13] brusherru commented on #888
## Rationale
We want to support multi-signature accounts (aka 2-of-3 signatures to spend money).
This feature requires:
- encode/decode 2/3-sig template arguments,
- signing transaction by more than one participant,
- importing vaults

Prerequisites:
- initial integration of new transaction structure into client apps (Smapp, Smrepl, Explorer, Dash), which includes support of single-key accounts on

[2022-07-05 22:27] brusherru opened #932 "Fix displaying rewards in transactions log"
### Environment
* Smapp version: 0.2.6

### Describe the bug
As a Smesher, I can see my rewards on the Smesher screen and see my positive balance on the Wallet screen. But there are no rewards in the log on the Wallet screen. Previously, it worked and it also stored transactions and rewards on fs.
The transactions log still working.

**The main question: do we want to show two different logs of th

[2022-07-05 22:30] brusherru commented on #813
Smesher log is back and it changed a look: https://github.com/spacemeshos/smapp/pull/925
But implementing of proper smesher log (and logging rewards as well) is still actual.

[2022-07-05 22:36] brusherru commented on #799
It is partially done, and partially stale.
So let's close this one. If we still want to make some of refactoring from this list — let's create a new issue with the narrow scope.

[2022-07-05 22:36] #799 closed, assigned to brusherru

[2022-07-05 23:21] brusherru commented on #721
I think that in the current situation when we already have a pretty informative Smesher screen it is not so important to show activation logs in Smapp. Especially if Explorer will show all this information.

So I propose to change the priority to low, and wait for some feedback from the community.
Then we can decide do we need to do it or not.
@oriya please take care of it or close the issue if yo

[2022-07-06 00:09] brusherru commented on #499
Since we can not reproduce the bug we're closing the issue.
If someone will face it again — please reopen this issue or file a new one.

[2022-07-06 00:09] #499 closed

[2022-07-06 00:11] brusherru commented on #604
Stale issue without details, probably the duplicate of #485.

[2022-07-06 00:11] #604 closed

[2022-07-06 00:13] brusherru commented on #605
Stale issue without details. Closing it.
If it is still actual please provide more details and reopen the issue or file a new one.

[2022-07-06 00:13] #605 closed

[2022-07-06 04:27] avive commented on #888
My 2 cents: I'd like to note regarding the last round of notes form @noamnelke that we have already had a design iteration of vaults and safe which resulted in the current visual designs that is minimally usable and doesn't need to address some of the issues that were brought up. I recommend that it will be implemented w/o going back to the drawing board as there's really no need for that and the

[2022-07-06 04:33] avive commented on #888
Looks like the product site is down - there were several vaults and multi-sig related journeys and interactive prototypes which describe the last product iteration over these features - I hope you guys considering them before continuing to work on these features - otherwise you need to do the use cases and flows from scratch. This of course, can be done, but plz be conscious about it if you really

[2022-07-06 07:57] brusherru commented on #888
@avive thanks for these notes. 🙏
Regarding the product website and last product iteration, I found this: https://github.com/spacemeshos/product/blob/master/multisig_vaults_interaction_design.md

It is pretty clear and I understand how the web service may work (using vault address and public keys), but it will work for SpendTransaction, meanwhile, it is not clear to me how we can use the same web s

[2022-07-06 07:57] brusherru commented on #888
Btw, what is the status of this web service, and who is taking care of it? :)

[2022-07-06 08:45] oriya commented on #932
At first glance, I would think that the transactions log should be specific to the wallet-activity and not earning rewards.

Seeing why something has stopped working is always a good ideas, but I don't see a reason why we would list reward earnings in transactions log, now that we have that data on the smesher screen.

[2022-07-06 12:49] brusherru commented on #888
We had a conversation with @noamnelke and he clarified a few points for me:
1. Principal address — is the address of the multi-sig account itself. So multi-sig account pays for gas, and we don't stick to any single-sig accounts at all.
2. Keypairs (public key) used there are any random keypairs, which are not required to be spawned.
3. Meanwhile, for security reasons, it will be much better to cre

[2022-07-06 18:46] lrettig commented on #888
one quick point: while the multisig (principal) account can pay for gas once it's been spawned, prior to this, another principal account needs to pay the gas to spawn it - unless the account-to-be-created already contains funds, in which case it could be spawned using self-spawn (but I think this would be quite rare and doesn't necessarily need to be considered right now).

does smapp already supp

[2022-07-06 18:48] lrettig commented on #888
No, the public keys are part of the multisig account's immutable state. Blockchains are notoriously hard for indexing and finding data buried in state. We could emit an event on creation, which would be a bit easier to index/search, but we haven't designed this yet and it might not make it into genesis. This would probably have to be a third-party data service built on top of go-spacemesh. (Here i

[2022-07-06 21:20] brusherru commented on #888
@lrettig

On the picture above shown only self-spawn, so I guess that signel-sig and multi-sig accounts are self-spawn only?
So in case if you want to self-spawn it — send some SMH there before.
Are we going to implement both ways?

We have some kind of derivation, but only by index. Not by derivation path as in BIP32 standard.
So probably the answer is NO.

[2022-07-06 21:29] brusherru opened #933 "Cannot restore wallet file using mnemonics"
### Environment
* Smapp version: 0.2.6
* OS: Any

### Describe the bug
We have got a bug report:
"When I restore my old wallet using the seed it asking for the password like I'm creating a new wallet, then the network selection pops up and then all this repeats again and again. If to close smapp (on any of this steps) upon restart the application works fine."

I checked it out and can confirm it.

[2022-07-07 07:34] oriya commented on #721
Yes, most of the relevant information is either in the current smesher screen update or the upcoming with (with updated statuses and estimations) - so I am re-labeling this as future plans - specifically for a new "rewards" screen.

[2022-07-07 09:09] #915 closed, assigned to maparr

[2022-07-08 15:57] brusherru opened #936 "Integrate new transactions structure: single-sig accounts"
This issue contains bunches of questions in corresponding sections.
Please indicate what time you are talking about: ASAP / Genesis / Post.

### Rationale
This is an epic issue, that should be divided into smaller ones.
But let's clarify all the details first.

The transaction structure and API have been changed due to support vaults.
Within this issue we want to integrate these changes into Smapp

[2022-07-08 20:35] lrettig commented on #888
It should be possible to spawn a multisig in two ways: via an ordinary spawn tx (funded by another principal account), or via self-spawn in the way you describe (send some SMH to the multisig address first, then send the self-spawn tx). Will double check this with @noamnelke.

Will open a separate issue to discuss this

[2022-07-08 20:36] lrettig opened #937 "BIP32-compatible HD wallet support"
What sort of derivation are we using today? Is there a reason we chose to do something non-standard here? How much work would it be to adopt BIP32 instead?

We have some kind of derivation, but only by index. Not by derivation path as in BIP32 standard.
So probably the answer is NO.

_Originally posted by @brusherru in https://github.com/spacemeshos/smapp/issues/888#issuecomment-1176760541_

[2022-07-08 21:37] #933 closed, assigned to brusherru

[2022-07-11 07:20] brusherru commented on #936
A couple more questions regarding sending tx flow.
As a Smapper I've run Smapp and have a pre-created single-sig account (or created it manually). Then I smesh and get some coins there... and I want to send a Tx to my friend:
1. Do I need to explicitly sign and publish spawn tx? Or it should be automatically sent under the hood?
2. If automatically, then does the Node take care of it or clients sh

[2022-07-11 08:15] dshulyak commented on #936
we don't have any storage. for genesis it makes sense to hard code them

yes, encoding and signing is done on the client

we don't have such service and schemas. it probably will be introduced together with svm, but for now it is not important.
i assumed that for genesis all schemas will be known to the client, so they can be hardcoded as well.

self-spawn needs to be applied to the chain **before

[2022-07-11 19:32] lrettig commented on #936
We previously discussed publishing a single Wasm codec that could be shared by SVM as well as by smapp and other downstream clients. I suppose this is up in the air at the moment, pending SVM design, CC @WilfredTA.

Two notes:

1. The spawn tx does not need to be published until the user wants to actually spend/move the funds. In particular, it does _not_ need to be part of the smeshing setup. The

[2022-07-11 23:31] #927 closed, assigned to brusherru

[2022-07-11 23:31] #932 closed, assigned to brusherru

[2022-07-12 07:02] brusherru commented on #937
Seems we're using this implementation of ed25519 under the hood: https://github.com/spacemeshos/ed25519-WASM which wraps this implementation into wasm: github.com/spacemeshos/ed25519, and finally here is an actual implementation of `NewDerivedKeyFromSeed`: https://github.com/spacemeshos/ed25519/blob/d72da3b5f487b39d182a66532d362f5929962470/ed25519_ext.go#L96-L109

And this is how we call in partic

[2022-07-12 07:43] brusherru opened #938 "Handle properly Node crashes on OS-level, when the process does not started at all"
### Environment
* Smapp version: 0.2.6
* OS: Windows 10 without Microsoft Visual C++ Redistributables installed

### Describe the bug

Smapp shows up loading screen and stucks there for a long time and then shows up this:
<img width="1271" alt="image" src="https://user-images.githubusercontent.com/1897530/178434836-76239f01-06b3-47a5-a172-b38372988009.png">
Meanwhile restarting the Node won't help

[2022-07-12 08:01] brusherru commented on #936
❤️
Do we have any estimation on it? @WilfredTA

So the basic user story:
1. The user get some SMH on his not spawned yet single-sig account
2. Then User explicitly sends a spawn transaction
3. User waits until this tx will be on-chain:
    Meanwhile, Smapp has to detect, that the User already sent a spawn transaction and it has a pending status, so Smapp should not allow sending one more spawn tra

[2022-07-12 09:28] brusherru opened #939 "Resize dashboard WebView to fit the Smapp window"
### Environment
* Smapp version: 0.2.6
* The bug is visible on the screens that are bigger than 1600px in height

### Describe the bug
We have a bug in creating WebView for the dashboard:
- When you open a dash screen on a bigger display (and maximized Smapp) it uses less height than it might
- Afterwards, if you resize the Smapp it is resized with Smapp, so it still uses a half of window height
-

[2022-07-12 14:14] lrettig commented on #936
Ideally spawn transactions should be idempotent, so that sending another one would have no effect and do no harm. (Nodes should drop them as duplicates.)

One more point: the "spawn" part should ideally be invisible to the user, i.e., from the frontend/UX/smapp perspective, the user should not need to create a "spawn" transaction separately from the first spend. When the user first tries to spend

[2022-07-12 14:19] dshulyak commented on #936
I want to emphasize that smapp should wait for a spawn transaction to execute. Effectively wait for the result. Only after that point other transactions from the same principal will become parsable and won't be discarded by the api.

we don't have anything like that implemented

[2022-07-12 14:22] #939 closed, assigned to brusherru

[2022-07-12 19:13] lrettig commented on #936
It can always be added as a new tx type later, and it's not critical (as long as the above UX is managed by smapp)

[2022-07-12 19:16] lrettig commented on #937
Very likely, yes. I think this is _the_ standard. Will ask @oriya to investigate.

[2022-07-12 19:20] lrettig commented on #937
This is what standard tools like [mycrypto](https://mycrypto.com/) give you:

![image](https://user-images.githubusercontent.com/3316532/178576634-ff745395-04b7-4a6e-beed-9890786fea99.png)

Here's a useful tool: https://iancoleman.io/bip39/

[2022-07-13 05:20] oriya commented on #937
okay here is what I know so far -

Yes, it seems be the standard.

Wallets that follow the BIP44 standard can import each other’s seeds.

The BIP44 standard also allows for multiple different currencies. So there's a different branch for Bitcoin and a different branch for Ethereum, and a different branch for Litecoin. And basically any type of cryptocurrency or blockchain that can support mnemonic

[2022-07-13 09:52] maparr opened #942 "Create a proxy backend for api error integration"
We have to create a proxy API, to prevent attacks.
https://docs.sentry.io/platforms/javascript/guides/vue/troubleshooting/

[2022-07-14 08:27] pigmej commented on #942
@maparr I think that belongs more to the Infra instead of here, isn't it?

[2022-07-15 08:03] maparr commented on #942
@pigmej , yeah, you 're right.

[2022-07-21 08:12] #931 closed, assigned to maparr

[2022-07-21 13:32] noamnelke commented on #888
Sorry for the late response...

IIUC @dshulyak _only_ implemented self-spawn for genesis. I don't fully agree with this, because I think it would be almost as easy to support both modes of spawning, but there are probably more important things to argue about and we can quite easily change this later IMO.

This means that accounts can only be self-spawned, regardless of if they're single- or multi-

[2022-07-21 17:22] dshulyak commented on #888
@noamnelke btw regardless of the decision could you clarify spawn implementation in https://github.com/spacemeshos/go-spacemesh/issues/3339 . because the way i see it the tx format for spawn and self-spawn is different

[2022-07-21 18:40] lrettig commented on #888
@noamnelke I think the point is that, for a multisig, a "simple" spawn requires only a single signature, i.e., it can be an "ordinary" transaction. Whereas the self-spawn case would, by definition, require multiple signatures, and the UX for this is quite tricky (I'm not sure we've even worked it out yet, I suppose that's the purpose of this issue). My gut feeling is that people would prefer to do

[2022-07-21 18:44] lrettig commented on #888
Dumb, obvious question: this means we won't allow changing the signatories later, right? I.e., the set of authorized pubkeys is part of immutable state? This is also a usability issue, since existing multisig solutions allow [adding/removing signatories](https://help.gnosis-safe.io/en/articles/3950657-add-owners), changing the minimum number of [required confirmations](https://help.gnosis-safe.io/

[2022-07-21 21:34] tal-m commented on #888
It's true that you can't change the keys for the basic multisig wallet that we're planning for genesis without changing the account address --- in the same way that you can't change the keys for a single signature wallet (you can always "change the keys" by transferring the entire balance to a new account with different keys).  So this doesn't cover all the use-cases for more advanced multisig wal

[2022-07-30 11:25] #938 closed, assigned to brusherru

[2022-08-01 08:23] maparr commented on #942
move it to the infra side.

[2022-08-01 08:23] #942 closed, assigned to maparr

[2022-08-01 09:09] maparr commented on #937
Hi @oriya, remove please label WIP when your research will be finished.

[2022-08-01 09:11] maparr commented on #812
hi @brusherru , will take this issue for work.

[2022-08-01 09:18] maparr opened #946 "Feature: reduce usage isDarkMode flag for our components"
In the app we have isDarkMode, which we're taking from redux, to determine the UI elements' color.
I changed this behavior and flag for the dark mode we keep in the theme configuration for each light/dark/modern.

Right now we can change it and use the hook `useTheme`, and take it from this hook. There are will be a few iterations, first, we have to remove useDispatch for each isDarkMode flag, the

[2022-08-01 09:39] maparr commented on #681
@brusherru  will take this one.

[2022-08-02 21:14] maparr opened #947 "Creating many wallets (wallet creation flow), till the end of finish screen"
Video regression:
https://user-images.githubusercontent.com/54288612/182474471-c7bb5261-5c2d-421e-b78c-df2bd0180c2c.mov

Steps to reproduce
1. Check your wallets
2. Start to create a new Wallet type, not the Node
3. check after all steps, how many wallets do u have on the login screen?

[2022-08-12 18:16] lrettig opened #949 "Add support for genesis ID"
Needs to be included when signing genesis transactions. See https://github.com/spacemeshos/pm/issues/135.

[2022-08-14 05:45] #946 closed, assigned to maparr

[2022-08-14 09:03] maparr commented on #812
@brusherru , right now cannot reproduce this issue, the Node screen is not blinking, can we close this issue?

[2022-08-14 09:23] maparr commented on #947
right now on devnet 225 is working as expected, will fix many wallets list and will add a scroll

[2022-08-14 09:30] maparr commented on #680
@lrettig , @oriya, @brusherru
I want to take this task in the next dev iteration, can I work on this task, or still on-hold ?

[2022-08-15 18:16] lrettig commented on #680
Not on hold, I think you can work on this, and it would be helpful to have for the next stage of the testnet.

I don't think this will work, at least not for rotating node (go-spacemesh) logs. This library is for logging from within the JS application. In our case, we need to rotate logs generated by an external, child process.

[2022-08-17 13:13] brusherru commented on #681
Folks, I don't like the idea of dropdown here.
We have only two options here: SMH / Smidge.

Dropdowns for two options the very ineffective interface.
Let's compare it to the switch button that we have:

Switch button:
1. Aim
2. Click
3. Think (aka User understands that now he will write amount in another units)

Dropdown:
1. Aim
2. Click
3. Think (because we see options, we need to read them and

[2022-08-17 14:27] oriya commented on #681
Agreed

[2022-08-18 09:22] maparr opened #952 "fix: react router, figure out why we have wrong redirect with object in it"
<img width="460" alt="image (1)" src="https://user-images.githubusercontent.com/54288612/185359814-9c352bc2-67ea-4807-90c0-32f714a88b82.png">

How to reproduce
1 variant
- go through pages and screens
- check the console log
2 variant
- create an account with any type
- type the password on the last step
- check console

[2022-08-18 09:23] maparr commented on #947
first part of this issue was fixed and merged, last one related to syles that will be merged soon

[2022-08-18 09:36] #947 closed, assigned to maparr

[2022-08-18 12:32] #681 closed

[2022-08-19 21:53] maparr commented on #680
Hi @lrettig , I created a [PR](https://github.com/spacemeshos/smapp/pull/953) and attached a demo video
we have getting all logs from stdout/err  and piping it to the log file , so go-spacemesh logs also will be rotated

[2022-08-25 11:28] maparr commented on #952
cannot reproduce when reinstall node modules

[2022-08-25 11:28] #952 closed, assigned to maparr

[2022-08-25 11:28] #812 closed, assigned to maparr

[2022-08-25 12:25] #680 closed

[2022-08-26 11:05] #906 closed, assigned to maparr

[2022-08-26 13:18] brusherru opened #959 "Implementing of BECH32 addresses"
This issue extracted as a big task from #936
It includes:
- [x] @abergasov extracted related code into [spacemeshos/address](https://github.com/spacemeshos/address)
- [x] @abergasov also helped me to wrap it into wasm: [spacemeshos/address-wasm](https://github.com/spacemeshos/address-wasm)
- [x] Integrate usage of address-wasm library in Smapp where needed

[2022-08-26 13:19] brusherru opened #960 "Implement codec library"
This issue extracted as a task from https://github.com/spacemeshos/smapp/issues/936

- [x] I've created [spacemeshos/sm-codec](https://github.com/spacemeshos/sm-codec) library, which uses address-wasm under the hood.
- [x] Test it well on the working network / longevity cluster

[2022-08-29 09:48] brusherru opened #963 "Fix navbar styles"
### Environment
* Smapp version: develop

### Describe the bug
<img width="510" alt="image" src="https://user-images.githubusercontent.com/1897530/187174220-4a4179ef-2688-41c6-b919-78ad605ce8c1.png">

I believe that only selected menu item should be colored in purple, other links should be white.

[2022-08-30 08:44] maparr opened #964 "Bug: remote-api wallet mode"
Have an issue with the remote-api flow and switching between wallet and node, application is detecting node when account set up as a wallet.

on the screen below, wallet mode should be synced by default from remote-api, but in this case, wallet mixing logic from node mode

<img width="1392" alt="Screenshot 2022-08-30 at 09 43 12" src="https://user-images.githubusercontent.com/54288612/187391766-00

[2022-09-08 03:40] tadeork commented on #963
Hey @brusherru, I think I can solve this. Could you assign to me this issue?

[2022-09-12 20:52] #963 closed, assigned to nobody

[2022-09-13 21:12] #964 closed, assigned to maparr

[2022-09-14 13:03] brusherru commented on #959
I'm closing the issue since the interface is stabilized and the library tested well:
https://github.com/spacemeshos/address-wasm
It was also published to npm: https://www.npmjs.com/package/@spacemesh/address-wasm

Since updates of Bech32 addresses in Smapp without completing #960 is useless — I propose to count the third task complete.

[2022-09-14 13:03] #959 closed, assigned to brusherru

[2022-09-29 09:40] brusherru opened #973 "Add internal queue for outgoing transactions"
### Rationale
Right now Users can send transactions only when Network is fully synced.
But sometimes the network proceeds one layer more and the local node requires some time to sync up to the latest one.
It causes the User can't send the transaction and have to wait for it.

So I have an idea to introduce an internal (in Smapp) queue for transactions, that will wait for syncing and then send the

[2022-09-29 12:25] countvonzero commented on #973
this doesn't sound right. the node has tolerance for falling out of sync (3 layers i think).

assuming the node is not synced, is it easier to have the node relay the tx to other peers?

but on a more general level, it seems confusing for smapp to rely only on localnode to get information for the smesher account.
for example, the app was offline for a period of time and come online, it naturally n

[2022-09-29 14:12] brusherru commented on #973
Alright, then we just need to ease it in Smapp :)
Right now UI does not allow sending a tx if GRPC API tells that node is not synced (we're looking at a boolean value, so it does not matter how many layers are ahead).

Sounds good to me. Do we already have it in the go-spacemesh?

That's almost right. So to show up incoming funds (and balance) we need to sync the node. But it should show up "lates

[2022-09-29 23:05] brusherru opened #974 "Fix CPU overusage"
### Rationale
The main process consumes a lot of CPU. We need to investigate and fix it.

### Environment
* Smapp version: 0.2.6

[2022-10-03 11:04] pigmej commented on #973
👍  from my side, it's sometimes frustrating when you need to hit the exact spot when you're fully in sync.

[2022-10-04 01:43] countvonzero commented on #973
no. but not too difficult to add. tho if we wants to add feature to relay tx, we most likely should relay other GRPCs as well. see my reasoning below.

my amateur opinions: when a user uses smapp, it not only uses it for mining, but also for explorer-like functions for their accounts. i think there is an usability issue here. the fact that the node is mining/syncing, should not affect the function

[2022-10-04 10:43] brusherru commented on #973
It sounds perfect to me, as a Smapp developer, but I'm not sure that it will sound good to "privacy-nerds".

If you take a look at some clients, that may run their own node, like Monero / ZCash / smth else (bitcoin has the same option, but usually it is not so user-friendly) — they usually work only with the RPC / node that the User chose. So if you worry about privacy you run the node and have to

[2022-10-04 12:25] countvonzero commented on #973
@brusherru
i imagine this works effectively as a p2p blockchain browser. and tx itself is forwarded as a opaque blob. i am raking my brains to understand what can trigger privacy concerns here. can you provide some examples?

[2022-10-04 16:15] brusherru commented on #973
@countvonzero for example, deanonymisation of account addresses. E.G. if you're requesting balances of some accounts (at least more often than others) from some public RPC — the owner of this RPC may store and associate your IPs with these accounts. That's the point why some privacy nerds running their own bitcoin nodes without mining.

Of course, you may say that they may use VPN / TOR / etc to h

[2022-10-04 19:53] maparr commented on #937
Check-list:

- [x] create POC for smapp with support ed25519++ bip32/43/44 through bip39 (mnemonic)
- [ ] integrate through the new interface encrypt/decrypt wallet and add bip44 index for new sub-account to the wallet
- [ ] add unit tests and sync with [smcli](https://github.com/spacemeshos/smcli/pull/5)
- [ ] add documentation for wallet integration in [SMIPS](https://github.com/spacemeshos/SMIP

[2022-10-05 00:49] countvonzero commented on #973
thank you @brusherru

we can always provide such relay option for the owner to turn on/off, and explicitly state the pros and cons of both options (state delay vs potential privacy concerns)

[2022-10-05 13:21] brusherru opened #979 "Smapp does not connect to Remote API in case there was a connection error"
### Environment
* Smapp version: 0.2.6 | develop

### Describe the bug
In case if wallet file was set up to use the remote API and there was no internet connection on the startup of Smapp — it asks to choose the network, but it can't fetch the discovery service. Then if the internet connection recovered and User clicks on refresh and chooses the network — Smapp updates the wallet file, but it does

[2022-10-05 14:41] brusherru opened #980 "Update dependencies to get rid of peer dependencies warnings / errors"
### Environment
* Smapp version: 0.2.6 | develop

### Describe the bug
If you run `npm install` then you will get an error:
[code]

`yarn` resolves dependencies fine, but prints out a bunch of warnings:
[code]

### How to fix
Update dependencies. Seems all of them have newer versions that we can easily switch to and we just need to ensure that everything still works fine (or tweak a code a bit).

[2022-10-07 16:51] maparr opened #982 "Redirect to the Wallet screen and add description about current quantity of accounts"
### Rationale

We can add an account to the wallet, but the functionality is not clear after providing the password.

### User story

https://user-images.githubusercontent.com/54288612/194606941-fa209fdd-2339-4bee-9f68-f14269293307.mov

Describe the most straightforward usage scenario

- [ ] sign in
- [ ] go to settings tab
- [ ] find 'add an account to WALLET_NAME'
- [ ] click it

### Acceptance

[2022-10-07 17:08] maparr opened #983 "Add semvir to wallet json"
Currently, we have a wallet file that we generating depends on the wallet type. I think we have to declare the wallet file structure and add versioning. To be ready for the future change the structure.

maybe exists already some new way to manage files that we store on the client's computer.

WDYT?
cc: @lrettig , @dshulyak , @brusherru

[2022-10-07 17:56] brusherru commented on #983
I believe that we don't need to add any version fields there until:
1. we release it in production: afterward we'd have to support all versions / write migrations / etc
2. wallet version cannot be derived from its shape/structure

In the rest, we have a [SMIP#17](https://github.com/spacemeshos/SMIPS/issues/17) that represents a wallet file.
If you need to change something due to new features (e.g.

[2022-10-07 17:58] #983 closed, assigned to nobody

[2022-10-08 20:07] brusherru opened #984 "Do not restart the node on start smeshing"
### Environment
* Smapp version: 0.2.6 | develop

### Describe the bug
When the smeshing is not set up and User set up smeshing in a new directory (without the existing key) — it is not necessary to restart the node. So we need to call the GRPC method instead of restarting the node.

**IMPORTANT:** in case if User specifies a directory containing `key` it should restart the node, as it does now.

[2022-10-08 20:13] brusherru opened #985 "Switch network does not work"
### Environment
* Smapp version: 0.2.6 | develop

### Describe the bug
When Smapp is already successfully connected to one of the networks it does not switches the network by User request.
After selecting another network from the network selection screen — nothing changes.

### Steps to reproduce
1. Open Smapp, unlock the wallet
2.  Go to the "Settings" screen and choose "Switch network"
3.  Selec

[2022-10-18 13:48] brusherru opened #987 "Handle switching node data-dir for different networks"
### Rationale
Previously the go-spacemesh takes care of creating subdirectories under the node `data-dir` to make it possible to connect to different networks:
https://github.com/spacemeshos/go-spacemesh/blob/5279493f46a831e26293719013ad86a079387732/config/config.go#L60-L62

But the latest changes in the `develop` branch got rid of this logic and now Smapp should handle it:
https://github.com/spac

[2022-10-19 18:34] jonZlotnik opened #988 "Encryption of secrets in json wallet use AES-CTR with a constant IV for the counter"
source of bug:
https://github.com/spacemeshos/smapp/blob/a8bfea7bf62031937c34d18a1c53988695009ed1/desktop/fileEncryptionService.ts#L34-L46

Using the same IV for every encryption is dangerous:
- The IV must be unique for every encrypted message
- The IV must be unpredictable to an attacker prior to encryption of the message.

Additionally, AES-CTR does not provide authentication, thus some authent

[2022-10-20 20:14] jonZlotnik commented on #988
### Node JS Reference Code
Here is a reference implementation.
This first section is copy/paste-able (parameters are safe and match `smcli`)

[code]

----- NOTHING BELOW HERE SHOULD RUN IN THE APP -----

But it at least gives you an idea of how the functions work together.

Test vectors against [this test in smcli](https://github.com/spacemeshos/smcli/pull/7/files#diff-6a4d551b5304534d982373f3d206

[2022-10-24 08:02] #937 closed, assigned to maparr

[2022-10-25 13:06] brusherru opened #992 "Tweak stopping / restarting GRPC Services"
### Rationale
Right now GRPC Services is running until Smapp will be completely closed.
The only thing that actually restarts is streams.

It causes Smapp shows up an error message (like "Connection dropped") when Node restarts due to switching the network or setting up smeshing with an existing key. So it confuses the User, especially when some of such errors got stuck (in the smesher screen), me

[2022-10-26 21:17] #936 closed, assigned to brusherru

[2022-11-01 16:40] brusherru commented on #985
The issue is not actual anymore.

[2022-11-01 16:40] #985 closed, assigned to nobody

[2022-11-03 15:24] #988 closed, assigned to brusherru

[2022-11-07 11:28] brusherru opened #1002 "Smapp does not validate coinbase address and Node fails to run"
### Environment
* Smapp version: 0.2.7
* Node version: v0.2.18-beta.0

### Describe the bug
When the User previously set up smeshing on the previous version of Smapp, he has an old coinbase address type in the `node-config.json`. Meanwhile, the new version of Smapp just copies this coinbase address when connecting to the new network and tries to use this. The node exits with panic that the address

[2022-11-07 11:37] brusherru opened #1003 "Get rid of infinite GRPC query/stream retries"
### Environment
* Smapp version: 0.2.7
* Node version: v0.2.18-beta.0
* OS: Windows (unknown version)

### Describe the bug
Some Users report the bug, that their Smapp can not connect to GRPC API after running the Node.
Seems that on some machines 15 seconds is not enough to run all services of go-spacemesh.
**This assumption required to be confirmed**

### Steps to reproduce
1. Run Smapp with the

[2022-11-07 12:22] brusherru opened #1004 "Clean up error message on Smesher screen"
### Environment
* Smapp version: 0.2.7
* Node version: v0.2.18-beta.0

![image](https://user-images.githubusercontent.com/1897530/200308829-f0656f65-6f43-494c-bedd-70aa83ff400c.png)

### Describe the bug
Sometimes the error message on the smesher screen appears and is stuck there forever, meanwhile, it does not correspond to an actual state. It comes from `PostSetupStatusStream` API endpoint.
My a

[2022-11-07 12:26] #982 closed, assigned to maparr

[2022-11-07 21:49] brusherru commented on #1003
`cputhrottle` does not help to reproduce the bug, GRPC was still working fine
Meanwhile, I've found the real source of the problem, and this is #1002
So within this issue, I'll get rid of infinite retries and add progressive timeout to make it more robust within the limit amount of retries.

[2022-11-09 10:09] maparr opened #1008 "Improve: "Report an issue" modal"
## Context
Right now we have an issue with client issue reporting, all logs are placed on the client side and we cannot research what is going on, why the node is stuck, why the transaction is broken, etc.

We have a modal with Sentry integration, but we can get only client computer information and a short message from the client, his email which is helping to keep in touch with him, but not so fa

[2022-11-09 13:28] #992 closed, assigned to brusherru

[2022-11-09 13:28] #1003 closed, assigned to brusherru

[2022-11-09 13:28] #1002 closed, assigned to brusherru

[2022-11-11 12:29] #1004 closed, assigned to brusherru

[2022-11-11 16:48] maparr opened #1012 "Logs: separate log files for different wallets"
### Environment

* Smapp version: last release

### Describe the bug
Right now, logs are stored in the Spacemesh folder based on net-id (or genesisID ), and for new wallets will be rewrited
need to separate and stick it to the wallet file ( wallet number + date or so)

### Steps to reproduce

1. create an account
2. open /Users/COMPUTER_USER_NAME/Library/Application Support/Electron/spacemesh-log*

[2022-11-14 09:14] Stizerg opened #1013 "Logs: selector of reporting level, asynchronous logging functionality"
### Environment

* Smapp version: All
* OS: All

### Describe the bug

Currently Smapp is writing to the log file everything that happening with the app. It writes so much, that on an old computer it using 100% of the hard drive writing only logs to the level when db update is in a queue and the chain advances faster, this generates more log messages and as result the node is far behind.
It doesn'

[2022-11-14 10:28] maparr commented on #1013
Thank you @Stizerg , I will check this behavior and we will update u about the result.

[2022-11-15 12:42] maparr commented on #1008
related tasks, to separate logs and file size for the report dialog is #1012 and performance moment  #1013

[2022-11-15 12:43] maparr commented on #1008
![2022-11-15 12 41 05](https://user-images.githubusercontent.com/54288612/201922474-4ec8a134-55c5-4d57-b6bf-5b82c4b3d3e6.jpg)

[2022-11-15 12:47] maparr commented on #1008
on the submit, we're uploading the log file from the client folder and tracking the result.

To think:
Additionally, through API get a list of created issues by this client and show him, that his issue or problem is in progress or declined where he can check the result why and where by link

[2022-11-15 13:51] dimisjim commented on #909
I can confirm that 0.2.8 works

[2022-11-15 13:54] maparr commented on #909
@dimisjim , thank you for ur report and the confirmation!

[2022-11-21 19:08] maparr opened #1016 "Remote api: infinity syncing"
Actually can be an issue with remote api url, but right now 300 network and 998/999 also affected.
If there are no issue, feel free to prove it and close this issue

Steps to reproduce:
 1. create remote api account ( wallet only )
 2. check wallet and network screen
 3. check logs  ( tail -f ~/.../Electron or /.../Spacemesh -f logs-*.txt ) , check screenshots below

Actual state:
- infinity conne

[2022-11-21 23:38] maparr commented on #1016
seems issue on the remote api side , will be checking server configuration tmrw.

[2022-11-22 10:18] brusherru commented on #974
I believe that #1006 closed this issue.
At least, I can't find out any CPU over usage on the Smapp side.

[2022-11-22 10:18] #974 closed, assigned to brusherru

[2022-11-22 14:14] maparr commented on #1012
After discussion , decided to close this feature. Implementation will be different for Report an issue screen and we will be sort logs by timestamp and take logs related to specific day or hours

[2022-11-22 14:14] #1012 closed, assigned to maparr

[2022-11-22 14:15] maparr commented on #1016
Cause of this issue is not configurable DNS, issue resolved.

[2022-11-22 14:15] #1016 closed, assigned to nobody

[2022-11-23 12:52] maparr opened #1018 "Match transaction response from RPC to transaction view on transaction list page"
Currently response from RPC was changed , transaction template not match transactions list view
Need to investigate and fix this behaviour.

also analytics block have to be fixed. Now not calculating Send/Received transactions only Rewards ( screenshot 2 )

Steps to reproduce
1. sync node, get rewards
2. got to wallet page and send / receive / spawn transactions
3. check transactions list

Current

[2022-11-23 21:58] brusherru opened #1019 "Allow customisation of node config"
### Rationale
At the moment Smapp downloads the default config every time the User connects to the selected network, and copies the` smeshing` field from the previous config file (if exists). This way it does not allows the User to tweak a config file. Let's say he wants to add some boot nodes or poet servers.

### User story
- [ ] Run Smapp
- [ ] Unlock/create the wallet (aka connect to some netw

[2022-11-23 22:31] #984 closed, assigned to nobody

[2022-11-24 11:46] sentry[bot] opened #1020 "TypeError: Cannot read properties of undefined (reading 'numUnits')"
Sentry Issue: [SMAPP-5J](https://sentry.io/organizations/spacemesh/issues/3408400495/?referrer=github_integration)

currently we have an issue with Smeshing screen, before on set up proof of space folder, when config in Redux is empty , we are got this error

Steps to reproduce:
1. start sync the node
2. open the smeshing tab and select the directory
3. click next
4. see the error

before, to catc

[2022-11-24 11:48] sentry[bot] opened #1021 "[WIP] TypeError: Cannot read properties of undefined (reading 'key')"
Sentry Issue: [SMAPP-105](https://sentry.io/organizations/spacemesh/issues/3757484225/?referrer=github_integration)

this key property is a reference to DropDown component

can be a cause of #1020 , after the second screen when we are passing config as ts soft operator, on the second screen we cannot see the dropdown, because key of property not exists

Steps to reproduce:
need to find this path f

[2022-11-24 11:50] sentry[bot] opened #1022 "Error: EACCES: permission denied, open spacemesh-log-*.txt"
Sentry Issue: [SMAPP-YG](https://sentry.io/organizations/spacemesh/issues/3737999571/?referrer=github_integration)

We have an issue when Spacemesh folder under root protection or so, need to create a modal about permission restriction.

[2022-11-24 11:54] sentry[bot] opened #1023 "Auto-start Smapp feature may require missing permission, but GUI misleads"
Sentry Issue: [SMAPP-ZF](https://sentry.io/organizations/spacemesh/issues/3750083835/?referrer=github_integration)

MacOS some issue with analytics report that need to check

Error message:
[code]

[2022-11-24 12:40] sentry[bot] opened #1024 "Error: Error invoking remote method 'SMESHER_SELECT_POST_FOLDER': No handler registered for 'SMESHER_SEL..."
###  Describe the issue
Sentry Issue: [SMAPP-2Q](https://sentry.io/organizations/spacemesh/issues/3255922679/?referrer=github_integration)

[code]

Currently we have a lot of issue related to Windows machine , need to check details for Windows and setup node and smeshing as a remote api ( wallet only ) mode too

### Environment

* Smapp version: latest
* Node version: latest
* OS: Windows > 10

[2022-11-24 12:42] sentry[bot] opened #1025 "Windows: Out of Memory"
Sentry Issue: [SMAPP-ZY](https://sentry.io/organizations/spacemesh/issues/3753505482/?referrer=github_integration)

[code]

### Describe the bug

Currently we have an issue on the Windows PCs with memory allocation, need to check the node set up with smeshing folder and remote api set up

### Environment

* Smapp version: latest
* Node version: latest
* OS: Windows > 10

[2022-11-24 12:46] maparr opened #1026 "Error: Send SMH No handler registered for W_M_SEND_TX"
### Describe the bug
per title

### Environment

* Smapp version: latest
* Node version: latest
* OS: Windows > 10 | macOS High Sierra > (10.13) | Ubuntu > 20.04

### Steps to reproduce

1. u have some SMH on your wallet
2. create a transaction
3. click SEND on preview screen
4. see error

### Example

<img width="959" alt="Screenshot 2022-11-24 at 12 44 06" src="https://user-images.githubusercont

[2022-11-24 12:49] maparr commented on #1025
related issue #1024

[2022-11-24 18:27] maparr opened #1027 "Smeshing tab is not updateing after deleting POS data"
### Environment

* Smapp version: 0.xx.x | develop
* Node version: v0.x.xx
* OS: Windows 10 | macOS High Sierra (10.13) | Ubuntu 20.04

### Describe the bug

When POS data deleted , the smashing tab is not updating

### Steps to reproduce

https://user-images.githubusercontent.com/54288612/203847663-bf44bbda-18ec-4168-b19e-add8f35283d2.mov

### Expected behavior

The smeshing screen is ready for n

[2022-11-26 11:18] maparr commented on #1020
additionally , if config not loaded, but POS data folder was attached before, the smesher screen will be like this
<img width="759" alt="Screenshot 2022-11-26 at 11 18 37" src="https://user-images.githubusercontent.com/54288612/204086061-691481bb-f88c-446f-9852-2158dd548f28.png">

[2022-11-30 12:05] #949 closed, assigned to maparr

[2022-11-30 14:07] maparr opened #1029 "Feature: Set up waiting for the next network announcement screen if no networks exsist"
### Rationale
Right now we have no networks in SMAPP if we're preparing a new network and the community waiting for it.
<img width="804" alt="Screenshot 2022-11-30 at 14 03 33" src="https://user-images.githubusercontent.com/54288612/204816454-8ba4d321-6a9f-46a8-bedd-3167030632f2.png">

### What I propose
Create a welcome screen that describes a situation with a new network setup.
### User story

D

[2022-11-30 14:15] maparr opened #1031 "Add information on Smeshing screen when selecting folder for smeshing process"
### Rationale

Right now we can choose a folder with already created POS information, we should notify the client and block functionality if the folder is not empty, Genesis ID is different and the Wallet key is different

if omit this step, the client after 1-3 minutes will receive status 4 from PostSetupStatus, which means an error and the user has to choose a new folder

### User story

Describ